{% extends 'album_base_edit.html' %}
{% load static %}
{% block title %}Edit Album{% endblock %}

{% block javascript %}
    <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>
    <script src="{% static 'js/progress-bar-upload.js' %}"></script>
    <script src="{% static 'js/drag-and-drop-upload.js' %}"></script>
    <script src="{% static 'js/edit-cropper.js' %}"></script>
{% endblock %}

{% block content %}
    <h1 class="page-header" style="margin: 100px;">
        Photo Album
        <small>/ edit</small>
    </h1>
    <div class="row" style="margin: 100px;">
        <div class="col-md-12">
            {% block photos_content %}

                {# for removing all photos #}
                <form method="post" action="{% url 'photo_albums:clear_database' pk=album_id %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit" class="btn btn-danger pull-right" onclick="return confirm('정말 지우시겠습니까?');">
                        <span class="glyphicon glyphicon-trash"></span> Clear All Photos
                    </button>
                </form>

                {# for file select upload #}
                <div style="display: inline;">
                    <button type="button" class="btn btn-primary js-upload-photos pull-left">
                        <span class="fa fa-cloud-upload"></span> Select Images
                    </button>
                    <input id="fileupload" accept=".jpg, .jpeg, .png" type="file" name="file" multiple
                           style="display: none;"
                           data-url="{% url 'photo_albums:album_edit' album_id=album_id %}"
                           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
                </div>

                {# for crop upload #}
                <div class="filebox pull-left" style="display: inline;">
                    <form name="crop" method="post" enctype="multipart/form-data" id="formUpload"
                          class="btn btn-success">
                        {% csrf_token %}
                        <label for="id_file"><span class="fa fa-crop"></span> Crop Image</label>
                        <input type="file" name="file" accept=".jpg, .jpeg, .png" id="id_file" style="display: none;">
                        <input type="hidden" name="x" id="id_x"/>
                        <input type="hidden" name="y" id="id_y"/>
                        <input type="hidden" name="width" id="id_width"/>
                        <input type="hidden" name="height" id="id_height"/>
                    </form>
                </div>

                {# for drag and drop upload #}
                <div class="well text-muted text-center" style="padding-top: 4rem; padding-bottom: 4rem; margin-top: 70px;"">
                    <span class="fa fa-arrow-down" style="font-size: 4rem;"></span>
                    <h3>Drop Photos Here to Upload</h3>
                </div>
                <input id="fileupload" accept=".jpg, .jpeg, .png" type="file" name="file" multiple
                       style="display: none;"
                       data-url="{% url 'photo_albums:album_edit' album_id=album_id %}"
                       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

                {# image table #}
                <table id="gallery" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Photo</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for photo in photos %}
                        <tr>
                            <td>
                                <a href="{{ photo.get_absolute_url }}">
                                    <img src="{{ photo.file.thumb_url }}" alt="thumbnail"
                                         style="border: 1px solid #ccc; margin: 20px;">
                                </a>
                                <a href="{{ photo.file.url }}">{{ photo.file.name }}</a>
                                <a class="btn btn-danger" style="float:right;"
                                   href="{% url "photo_albums:delete_photo" pk=photo.id %}">delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {# for cropper #}
                <div class="modal fade" id="modalCrop">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Crop the photo</h4>
                            </div>
                            <div class="modal-body">
                                <img src="" id="image" style="max-width: 100%;">
                            </div>
                            <div class="modal-footer">
                                <div class="btn-group pull-left" role="group">
                                    <button type="button" class="btn btn-default js-rotate-left">
                                        <span class="fa fa-rotate-left"></span>
                                    </button>
                                    <button type="button" class="btn btn-default js-rotate-right">
                                        <span class="fa fa-rotate-right"></span>
                                    </button>
                                    <button type="button" class="btn btn-default js-zoom-in">
                                        <span class="fa fa-search-plus"></span>
                                    </button>
                                    <button type="button" class="btn btn-default js-zoom-out">
                                        <span class="fa fa-search-minus"></span>
                                    </button>
                                    <button type="button" class="btn btn-default js-reverse-vertical">
                                        <span class="fa fa-arrows-v"></span>
                                    </button>
                                    <button type="button" class="btn btn-default js-reverse-horizontal">
                                        <span class="fa fa-arrows-h"></span>
                                    </button>
                                    <button type="button" class="btn btn-default js-refresh">
                                        <span class="fa fa-refresh"></span>
                                    </button>
                                </div>
                                <button type="button" class="btn btn-primary js-crop-and-upload">Crop and upload
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                {# loading bar #}
                <div class="modal" id="modal-progress" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Uploading...</h4>
                            </div>
                            <div class="modal-body">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
