{% load crispy_forms_tags %}
{% load user_agents %}
{% load imagekit %}
{% load static %}

<div class="comment-container">
    {% include 'comments/comments_container.html' %}
</div>
<div class="comment-creator col-xs-12" style="margin-top:20px;">
    {# 짝지 리스트 댓글창에서 댓글을 단 경우 instagram comment로 넘겨야 한다#}
    {% if goto == 'partners' %}
        <form action="{% url 'comments:comment-create' pk=object.pk to='instagram' %}" method="post">{% csrf_token %}
            {{ comment_form | crispy }}
            <input id="input-comment-create" type="submit" class="btn btn-default center-block" style="display:none;"/>
        </form>
    {% else %}
        <form action="{% url 'comments:comment-create' pk=object.pk to='meeting' %}" method="post">{% csrf_token %}
            {{ comment_form | crispy }}
            <input id="input-comment-create" type="submit" class="btn btn-default center-block" style="display: none;"/>
        </form>
    {% endif %}
</div>

