{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <section class="contact">
        <div class="container">
            <div class="jumbotron text-center">
                <h1 class="display-4" style="padding-bottom: 20px;"> 커모했어요!</h1>
                <p class="lead"> 커모 후기를 올리면 <b>카페인피드</b>에 등록됩니다.</p>
                <hr class="my-4">
                <p>커모 후기를 작성해주시면 <b>짝지 점수</b>가 올라갑니다.</p>
                <p>커모에 참석하지 않은 사람들은 참석자 명단에서 빼주세요!</p>

            </div>
            <hr>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn center-block btn-block" value="올리기"/>
            </form>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_coffee_meeting').css("pointer-events", "none");
        })
    </script>
{% endblock %}