{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <section class="contact">
        <div class="container">
            <h1 class="text-center {% if request.user_agent.is_mobile %} mt-100 {% endif %}">짝모 올리기!</h1>
            <hr>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn center-block btn-block" value="올리기"/>
            </form>
        </div>
    </section>
{% endblock %}