{% extends 'base.html' %}

{% block content %}
{% if user.is_staff %}
  <a href="{% url 'survey:form-create' %}" class="btn btn-info">New Form</a>

<div class="card">
<div class="card-block">
<h4 class="card-title">Opened form</h4>
<div class="row">
{% for form in object_list %}
{% if form.opened %}
<div class="col-lg-pull-5">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">{{ form.title }}</h4>
      {% if form.is_new %}
          <p class="card-text">신입가입 양식</p>
      {% endif %}
      <p class="card-text">작성자 : {{ form.owner }}</p>
      <p class="card-text">작성일 : {{ form.created|date:"Y-m-d h:i:s" }}</p>
        <a href="{% url 'survey:view-form' user_id=user.id pk=form.id %}" class="btn btn-primary">Fill</a>
        <a href="{% url 'survey:list-form' pk=form.id %}" class="btn btn-info">Result</a>
        <a href="{% url 'survey:delete-form' pk=form.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
        {% if form.opened %}
          <a href="{% url 'survey:change-form-state' pk=form.id %}" class="btn btn-success">Close</a>
        {% else %}
          <a href="{% url 'survey:change-form-state' pk=form.id %}" class="btn btn-success">Open</a>
        {% endif %}
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
</div>
</div>
</div>
    <div class="card">
<div class="card-block">
<h4 class="card-title">Closed form</h4>
<div class="row">
{% for form in object_list %}
{% if form.opened == False %}
<div class="col-lg-pull-5">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">{{ form.title }}</h4>
      {% if form.is_new %}
          <p class="card-text">신입가입 양식</p>
      {% endif %}
      <p class="card-text">작성자 : {{ form.owner }}</p>
      <p class="card-text">작성일 : {{ form.created|date:"Y-m-d h:i" }}</p>
        <a href="{% url 'survey:view-form' user_id=user.id pk=form.id %}" class="btn btn-primary">Fill</a>
        <a href="{% url 'survey:list-form' pk=form.id %}" class="btn btn-info">Result</a>
        <a href="{% url 'survey:delete-form' pk=form.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
        {% if form.opened %}
          <a href="{% url 'survey:change-form-state' pk=form.id %}" class="btn btn-success">Close</a>
        {% else %}
          <a href="{% url 'survey:change-form-state' pk=form.id %}" class="btn btn-success">Open</a>
        {% endif %}
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
</div>
</div>
</div>
    {% else %}

<div class="card">
<div class="card-block">
<h4 class="card-title">Not submitted form</h4>
<div class="row">
{% for form in object_list %}
{% if not user in form.users.all %}
{% if form.opened and form.is_new == False %}
<div class="col-sm-4">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">{{ form.title }}</h4>
        {% if user in form.users.all %}
            <div class="card-text">submitted form</div>
        {% endif %}
      <a href="{% url 'survey:view-form' user_id=user.id pk=form.id %}" class="btn btn-primary">Fill</a>
    </div>
  </div>
</div>
{% endif %}
{% endif %}
{% endfor %}
</div>
</div>
</div>
<div class="card">
<div class="card-block">
<h4 class="card-title">Submitted form</h4>
<div class="row">
{% for form in object_list %}
{% if user in form.users.all %}
{% if form.opened and form.is_new == False %}
<div class="col-sm-4">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">{{ form.title }}</h4>
        {% if user in form.users.all %}
            <div class="card-text">submitted form</div>
        {% endif %}
      <a href="{% url 'survey:view-form' user_id=user.id pk=form.id %}" class="btn btn-primary">Fill</a>
    </div>
  </div>
</div>
{% endif %}
{% endif %}
{% endfor %}
</div>
</div>
</div>
{% endif %}
{% endblock %}
