{% extends 'base.html' %}

{% block content %}
    {% if user.is_staff %}
        <a href="{% url 'survey:survey-create' %}" class="btn btn-info">새로운 양식</a>

        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Opened form</h4>
                <div class="row">
                    {% for form in object_list %}
                        {% if form.opened %}
                            <div class="col-lg-pull-5">
                                <div class="card">
                                    <div class="card-block">
                                        <h4 class="card-title">{{ form.title }}</h4>
                                        {% if form.is_new %}
                                            <p class="card-text">신입가입 양식</p>
                                        {% endif %}
                                        <p class="card-text">설명 : {{ form.description }}</p>
                                        <p class="card-text">작성자 : {{ form.owner }}</p>
                                        <p class="card-text">작성일 : {{ form.created|date:"Y-m-d h:i:s" }}</p>
                                        <p class="card-text">응답자 : {{ form.users.count }}</p>
                                        <a href="{% url 'survey:survey-fill' user_id=user.id pk=form.id %}" class="btn btn-primary">작성</a>
                                        <a href="{% url 'survey:survey-result' pk=form.id %}" class="btn btn-info">결과</a>
                                        <a href="{% url 'survey:delete-form' pk=form.id %}" class="btn btn-danger" onclick="return confirm('정말 지우시겠습니까?');">삭제</a>
                                        {% if form.opened %}
                                            <a href="{% url 'survey:change-form-state' pk=form.id %}" class="btn btn-success">응답 종료</a>
                                        {% else %}
                                            <a href="{% url 'survey:change-form-state' pk=form.id %}" class="btn btn-success">응답 열기</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Closed form</h4>
                <div class="row">
                    {% for form in object_list %}
                        {% if form.opened == False %}
                            <div class="col-lg-pull-5">
                                <div class="card">
                                    <div class="card-block">
                                        <h4 class="card-title">{{ form.title }}</h4>
                                        {% if form.is_new %}
                                            <p class="card-text">신입가입 양식</p>
                                        {% endif %}
                                        <p class="card-text">설명 : {{ form.description }}</p>
                                        <p class="card-text">작성자 : {{ form.owner }}</p>
                                        <p class="card-text">작성일 : {{ form.created|date:"Y-m-d h:i" }}</p>
                                        <p class="card-text">응답자 : {{ form.users.count }}</p>
                                        <a href="{% url 'survey:survey-fill' user_id=user.id pk=form.id %}" class="btn btn-primary">작성</a>
                                        <a href="{% url 'survey:survey-result' pk=form.id %}" class="btn btn-info">결과</a>
                                        <a href="{% url 'survey:delete-form' pk=form.id %}" class="btn btn-danger" onclick="return confirm('정말 지우시겠습니까?');">삭제</a>
                                        {% if form.opened %}
                                            <a href="{% url 'survey:change-form-state' pk=form.id %}" class="btn btn-success">응답 종료</a>
                                        {% else %}
                                            <a href="{% url 'survey:change-form-state' pk=form.id %}" class="btn btn-success">응답 열기</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}

        <div class="card">
            <div class="card-block">
                <h4 class="card-title">제출할 양식</h4>
                <div class="row">
                    {% for form in object_list %}
                        {% if not user in form.users.all %}
                            {% if form.opened and form.is_new == False %}
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <h4 class="card-title">{{ form.title }}</h4>
                                            <p class="card-text">설명 : {{ form.description }}</p>
                                            <p class="card-text">작성자 : {{ form.owner }}</p>
                                            <p class="card-text">작성일 : {{ form.created|date:"Y-m-d h:i:s" }}</p>
                                            <p class="card-text">응답자 : {{ form.users.count }}</p>
                                            <a href="{% url 'survey:survey-fill' user_id=user.id pk=form.id %}" class="btn btn-primary">작성</a>
                                            <a href="{% url 'survey:survey-result' pk=form.id %}" class="btn btn-info">결과</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">제출된 양식</h4>
                <div class="row">
                    {% for form in object_list %}
                        {% if user in form.users.all %}
                            {% if form.opened and form.is_new == False %}
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <h4 class="card-title">{{ form.title }}</h4>
                                            <p class="card-text">설명 : {{ form.description }}</p>
                                            <p class="card-text">작성자 : {{ form.owner }}</p>
                                            <p class="card-text">작성일 : {{ form.created|date:"Y-m-d h:i:s" }}</p>
                                            <p class="card-text">응답자 : {{ form.users.count }}</p>
                                            {% if user in form.users.all %}
                                                <!--<div class="card-text">제출된 양식</div>-->
                                            {% endif %}
                                            <a href="{% url 'survey:survey-fill' user_id=user.id pk=form.id %}" class="btn btn-primary">재작성</a>
                                            <a href="{% url 'survey:survey-result' pk=form.id %}" class="btn btn-info">결과</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
