{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <section class="contact">
        <div class="container">
            <h1 class="text-center"> 커모했어요!</h1>
            <hr>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn center-block btn-block" value="올리기"/>
            </form>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_coffee_meeting').css("pointer-events", "none");
        })
    </script>
{% endblock %}