{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load imagekit %}
{% block title %}
    <title>짝모~</title>
{% endblock %}
{% block content %}
    <div class="card-box mt-150">
        {% for meeting in object_list %}
            <div class="card center-block">
                <div class="container-fluid">
                    <div class="row" style="margin-bottom:10px; margin-top:10px;">
                        <div class="col-xs-4">
                            {% if meeting.author.profile_pic %}
                                {% thumbnail "30x30" meeting.author.profile_pic -- class="img-profile" %}
                            {% else %}
                                <img src="{% static 'assets/img/default-avatar.png' %}" width="30" height="30"
                                     class="img-profile">
                            {% endif %}
                            &nbsp; {{ meeting.author.name }}
                        </div>
                        <div class="col-xs-8 text-right " style="font-size:calc(0.5vw + 9px);">
                            {{ meeting.created | date:"m월d일 A h시 i분" }}
                            <div class="dropdown-option">
                                <span class="glyphicon glyphicon-option-vertical"></span>
                                <div class="dropdown-content text-center">
                                    <a href="{% url 'partners:meeting-update' meeting.pk %}">수정하기</a>
                                    <form action="{% url 'partners:meeting-delete' meeting.pk %}"
                                          method="post">{% csrf_token %}
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        <a href="#" class="delete-instagram">삭제하기</a>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="photo-container row" style="position:relative;">
                        {% for photo in meeting.photos.all %}
                            <div class="photo-slide fading">
                                <img src="{{ photo.image.url }}" style="width: 100%; height: auto"/>
                            </div>
                        {% endfor %}
                        <i class="prev lnr lnr-chevron-left" ></i>
                    <i class="next lnr lnr-chevron-right" ></i>

                    </div>
                    <div class="row" style="padding:16px;">
                        <section style="font-size: calc(0.5vw + 10px);">
                            <b>{{ meeting.author.name }}</b>
                            {{ meeting.content }}
                        </section>
                        <section id="section-comment" style="margin-top:16px;">
                            <!--댓글 리스트-->
                            {% with meeting_comment=meeting.comments %}
                                {% include 'comments/comment_view_create.html' with goto='partners:meeting-list' comments=meeting_comment object=meeting %}
                            {% endwith %}
                        </section>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">

        $(document).ready(function () {
            {# 사진 슬라이드를 위한 처리 #}
            {# 기본 css로 사진이 디폴트로 hide 처리 되어있는데 각 card의 첫번째 사진은 보여줘야 한다. #}
            $('.card .photo-slide:nth-child(1)').show()

            $('.prev').on('click', function (event) {
                {# 현재 visible한 사진의 인덱스를 얻는다 #}
                let index = $(this).siblings('.photo-slide:visible').index()
                {# 일단 현재 사진을 숨긴다 #}
                $(this).siblings('.photo-slide:visible').hide()
                if (index === 0) {
                    {# 현재 사진이 첫번째 사진일 경우 #}
                    {# 마지막 사진을 보여준다. #}
                    $(this).siblings('.photo-slide').last().show()

                } else {
                    {# 현재 사진이 첫번째 사진이 아닐 때 #}
                    {# 인덱스-1번째 사진을 보여준다 #}
                    $(this).siblings('.photo-slide').eq(index - 1).show()
                }

            })
            $('.next').on('click', function (event) {
                {# 현재 visible한 사진의 인덱스를 얻는다 #}
                let index = $(this).siblings('.photo-slide:visible').index()
                let length = $(this).siblings('.photo-slide').length

                {# 일단 현재 사진을 숨긴다 #}
                $(this).siblings('.photo-slide:visible').hide()
                if (index === length - 1) {
                    {# 현재 사진이 마지막 사진일 때 #}
                    {# 첫번째 사진을 보여준다 #}
                   $(this).siblings('.photo-slide').first().show()
                } else{
                    {# 인덱스+1번째 사진을 보여준다 #}
                    $(this).siblings('.photo-slide').eq(index + 1).show()
                }
            })

            {# 댓글창에서 엔터를 누르면 바로 입력가능하게 한다. #}
            {# https://forum.jquery.com/topic/submit-buttons-in-multiple-forms-and-using-the-enter-key #}
            $(':input').on('keypress', function (event) {
                if (event.which === 13) {
                    $(this).closest('form').trigger('submit')
                }
            })

            {# dropdown-option div를 클릭하면 드롭다운을 열어준다 #}
            $('.dropdown-option').on('click', function (event) {
                $(this).find('.dropdown-content')
                    .first()[0]
                    .classList
                    .toggle("show")
            })

            {# 삭제버튼을 누르면 해당 글을 삭제한다 #}
            $('.delete-instagram').on('click', function (event) {
                let flag = confirm('정말 지우시겠습니까?')
                if (flag) {
                    $(this).closest('form').trigger('submit')
                }
            })

            {# glyphicon을 담은 span을 클릭한 것이 아니라면 드롭다운을 닫아준다  #}
            $(window).on('click', function (event) {
                if (!event.target.matches('span')) {
                    let dropdowns = document.getElementsByClassName("dropdown-content");

                    for (element of dropdowns) {
                        if (element.classList.contains('show')) {
                            element.classList.remove('show')
                        }
                    }
                }
            })
        })

    </script>
{% endblock %}
