{% load crispy_forms_tags %}
{% load imagekit %}
{% load static %}

<h3 class="text-center">댓글</h3>
{% for comment in comments.all %}

    <div class="col-lg-9 ">
        <p>
            {% if comment.author.profile_pic %}
                {% thumbnail "25x25 " comment.author.profile_pic %}
            {% endif %}
            {{ comment.author.name }} {{ comment.content }}
        </p>
    </div>
    <div class="col-lg-3">
        {% if user == comment.author %}
            <form action="{% url 'comments:comment-delete' pk=comment.pk %}" method="post"
                  style="display: inline">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button class="btn-xs" onclick="return confirm('정말로 삭제합니까?');">삭제</button>
            </form>
            <form action="{% url 'comments:comment-update' pk=comment.pk %}" method="post"
                  style="display: inline">
                {% csrf_token %}
                <button class="btn-xs">수정</button>
            </form>
        {% endif %}
    </div>

{% empty %}
    <p>댓글이 없습니다!</p>
{% endfor %}

<div class="row">
    {# 짝지 리스트 댓글창에서 댓글을 단 경우 instagram comment로 넘겨야 한다#}
    {#TODO: 추후 댓글모델 분리할 필요 없이 다형성을 구현해보자#}
    {% if goto == 'partners:meeting-list' %}
        <form action="{% url 'comments:instagram-comment-create' pk=object.pk %}" method="post">{% csrf_token %}
            {{ comment_form | crispy }}
            <input type="hidden" name="next" value="{% url goto %}">
            {#댓글 작성 후 원래 페이지로 돌아가기 위해 원래 페이지 주소를 goto변수에 담아 전달한다#}
            <input type="submit" class="btn btn-default center-block" value="댓글 달기"/>
        </form>
    {% else %}
        <form action="{% url 'comments:meeting-comment-create' pk=object.pk %}" method="post">{% csrf_token %}
            {{ comment_form | crispy }}
            <input type="hidden" name="next" value="{% url goto pk=object.pk %}">
            <input type="submit" class="btn btn-default center-block" value="댓글 달기"/>
        </form>
    {% endif %}

</div>