{% load user_agents %}
{% load imagekit %}
{% load static %}

{% for comment in comments.all %}
    <div class="col-xs-9 text-left" style="padding-left: 0;">
        <p style="font-size: calc(0.3vw + 10px);">
            {% if comment.author.profile_pic %}
                {% thumbnail "25x25 " comment.author.profile_pic -- class="img-profile" %}
            {% else %}
                <img src="{% static 'assets/img/default-avatar.png' %}" class="img-profile"
                     style="width: 100%; max-width: 25px;height: auto;">
            {% endif %}
            {{ comment.author.name }} {{ comment.content }}
        </p>
    </div>
    <div class="col-xs-3 text-right" style="font-size: 10px;">
        {% if request.user == comment.author %}
            <form action="{% url 'comments:comment-delete' pk=comment.pk %}" method="post"
                  style="display: inline; ">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                {% if request.user_agent.is_mobile %}
                    <button onclick="return confirm('정말로 삭제합니까?');">삭제</button>
                {% else %}
                    <button class="btn-xs" onclick="return confirm('정말로 삭제합니까?');">삭제</button>
                {% endif %}
            </form>
            {% if not request.user_agent.is_mobile %}
                <form action="{% url 'comments:comment-update' pk=comment.pk %}" method="post"
                      style="display: inline; margin-left: 2px; max-width: 100%;">
                    {% csrf_token %}
                    <button class="btn-xs">수정</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
{% endfor %}