# Django specific
*.egg-info
*.pot
*.py[co]
.tox/
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/

# Migrations
**/migrations

# Imagekit
CACHE/

# Secret information
/Caffein2/secrets.json

# Media Files
media/
/Caffein2/media/*
Caffein2/media/
accounts/profile/

# Virtual env
/myenv/*
myenv/

# sqlite3 DB
/Caffein2/db.sqlite3
/db.sqlite3

# AWS related
/.elasticbeanstalk


# OS-specific
.DS_Store

# Editor swapfiles
.*.sw?
*~

# Vagrant stuff
acceptance_config.yml
boxes/*
/.vagrant
/website/.vagrant
/website/build
/vagrant-spec.config.rb
test/vagrant-spec/.vagrant/

# Bundler/Rubygems
*.gem
.bundle
pkg/*
tags
/Gemfile.lock
test/tmp/
vendor/
/exec

# Documentation
_site/*
.yardoc/
doc/

# Python
*.pyc

# Rubinius
*.rbc

# IDE junk
.idea/*
*.iml
.project

# Ruby Managers
.rbenv
.rbenv-gemsets
.ruby-gemset
.ruby-version
.rvmrc

# Box storage for spec
test/vagrant-spec/boxes/*.box



# GIT provided gitignore file
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
.static_storage/
.media/
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Vagrant
.vagrant/