{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load imagekit %}

{% block content %}
    <title>커모</title>
    <section class="contact">
        <h1 class="text-center">{{ coffeemeeting.title }}</h1>
        <div class="libre-text-lg container">
            <div class="row col-sm-6">
                <h4>
                    작성자: {{ coffeemeeting.author }}
                </h4>

                {% for p in coffeemeeting.photos.all %}
                    {% if p.image %}
                        <img src="{{ p.image.url }}"/>
                    {% endif %}
                {% endfor %}

                <p class="libre-text-lg mb-50">
                    내용: <b>{{ coffeemeeting.content }}</b>
                </p>

                <p class="libre-text-lg mb-50">
                    {#TODO: 카페 정보와 지도를 표시해야 한다 #}
                    카페: <b>{{ coffeemeeting.cafe }}</b>
                </p>
                <p class="libre-text-lg mb-50">
                    날짜 및 시간: {{ coffeemeeting.meeting_date| date:"Y년 m월 d일 A h시 i분" }}
                </p>
                <p class="libre-text-lg mb-50">
                    최대 참여 가능인원:
                    {% with coffeemeeting.max_participants as max %}
                        {% if max == 0 %}
                            누구나
                        {% else %}
                            {{ max }}
                        {% endif %}
                    {% endwith %}
                </p>
                <p class="libre-text-lg mb-50"> 참여자:

                    {% for participant in coffeemeeting.participants.all %}
                        {% if participant.user.profile_pic %}
                            {% thumbnail "25x25" participant.user.profile_pic %}
                        {% endif %}

                        {{ participant }},
                    {% empty %} 아직 참여자가 없네요
                    {% endfor %}
                    ( {{ coffeemeeting.participants.count }} )명 <br>
                </p>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <form action="{% url 'meetings:participate' pk=coffeemeeting.pk %}" method="post">{% csrf_token %}
                    {# FIXME: Participant중에 현재 user가 존재한다면 텍스트를 참여 취소로 바꿔야 한다. 취소시 alert창을 띄워야겠지.#}
                    <button id="btn-participate" class="btn btn-default center-block">참여</button>
                </form>
                <hr>
            </div>
            <div class="row col-sm-6">


                <!--댓글-->
                <h3 class="text-center">댓글</h3>
                {% for comment in comments.all %}

                    <div class="col-lg-9 ">
                        <p>
                            {% if comment.author.profile_pic %}
                                {% thumbnail "25x25 " comment.author.profile_pic %}
                            {% endif %}
                            {{ comment.author.name }} {{ comment.content }}
                        </p>
                    </div>
                    <div class="col-lg-3">
                        {% if user == comment.author %}
                            <form action="{% url 'core:comment-delete' pk=comment.pk %}" method="post"
                                  style="display: inline">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button class="btn-xs" onclick="return confirm('정말로 삭제합니까?');">삭제</button>
                            </form>
                            <form action="{% url 'core:comment-update' pk=comment.pk %}" method="post"
                                  style="display: inline">
                                {% csrf_token %}
                                <button class="btn-xs">수정</button>
                            </form>
                        {% endif %}
                    </div>

                {% empty %}
                    <p>댓글이 없습니다!</p>
                {% endfor %}

            </div>
            <div class="row col-sm-6">

                <form action="{% url 'core:meeting-comment-create' pk=coffeemeeting.pk %}"
                      method="post">{% csrf_token %}
                    {{ comment_form | crispy }}
                    <input type="hidden" name="next" value="{% url 'meetings:coffee-meeting-detail' pk=object.pk %}">
                    <input id="comment-create" type="submit" class="btn btn-default center-block" value="댓글 달기"/>
                </form>
            </div>
            {% if user.is_authenticated and user == coffeemeeting.author %}
                <div id="container-btn" class="container col-sm-6">
                    <a href="{% url 'meetings:coffee-meeting-update' pk=coffeemeeting.pk %}">
                        <button class="btn btn-default">수정하기</button>
                    </a>
                    <form method="post"
                          action="{% url 'meetings:coffee-meeting-delete' pk=coffeemeeting.pk %}"> {% csrf_token %}
                        <input type="submit" value="삭제하기" class="btn btn-default" style="display: inline"
                               onclick="return confirm('정말로 삭제하시겠습니까?')">
                    </form>

                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
<hr>
