{% load static %}
{% load crispy_forms_tags %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>


</head>
<body>

<form method="post">{% csrf_token %}
    {{ form | crispy }}
    <input type="submit" class="btn btn-default center-block" value="커모 열기!"/>
</form>
    <script type="text/javascript">
        $(function () {
            $('#id_cafe').css("pointer-events","none");
            {#FIXME: 시간이 제대로 입력되는지 확인 필요#}
            $("#datetimepicker12").datetimepicker({
                inline: true,
                sideBySide: true,
                locale: 'ko',
                format: 'YYYY-MM-DD hh:mm'
            });
        });
    </script>
</body>
