{% extends 'meeting_detail_base.html' %}
{% load crispy_forms_tags %}
{% load imagekit %}
{% load static %}

{% block title %}
    <title>커피교육</title>
{% endblock %}

{% block navermap %}
    <!-- 네이버지도 -->
    <div class="map-container row">
        {% if object.mapx %}
            {# 커피교육과 공식모임의 경우 장소데이터가 없을 수도 있다. 그런 경우 아예 네이버지도를 삭제한다. #}
            <div id="map" style="width:100%;height:400px;"></div>
            <script type="text/javascript">
                let x = "{{ object.mapx }}"
                let y = "{{ object.mapy }}"
                let location_title = "<h3>{{ object.location }}</h3>"
            </script>
            <script type="text/javascript" src="{% static 'core/js/navermap_view.js' %}"></script>
        {% else %}
            <div class="col-sm-12 text-center" style="margin-top:25px;margin-bottom: 25px;">
                <h5>지도가 없어요!</h5>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block below-map %}
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-12 text-center" style="font-size: calc(0.6vw + 14px); font-weight: bold;">
            {{ object.location }}
        </div>
    </div>
    <div class="row"
         style="font-size:calc(0.5vw + 14px);
                        margin-top:20px;
                        margin-bottom:20px;
                        border-bottom: 1px solid #e5e5e5;">

        <div class="col-sm-4 text-center">
            {{ object.get_category_display }} ( {{ object.get_difficulty_display }} )
        </div>
        <div class="col-sm-2 text-center">
            {% with object.max_participants as max %}
                <span>
                {% if max == 0 %}
                    누구나
                {% else %}
                    {{ max }}명
                {% endif %}
            {% endwith %}
            </span>
        </div>
        <div class="col-sm-6 text-center" style="font-weight: bold;">
            <span>{{ object.meeting_date | date:"m월d일 A h시 i분" }}</span>
        </div>
    </div>
{% endblock %}

{% block fix-button %}
    <a href="{% url 'meetings:education-update' pk=object.pk %}" role="button" class="btn btn-default btn-block">
        수정하기
    </a>
{% endblock %}


