{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block style %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

{% endblock %}
{% block content %}
{# bootstrap datetimepicer의 am/pm 버튼은 btn-primary와 btn을 동시 상속받기에 style.css의 버튼 스타일과 겹친다. 명시적으로 크기를 줄여준다.   #}
    <style> .btn {
        min-width: auto !important;
        line-height: 0;
        margin: 0 !important;
        display: inline-block !important;
        border-radius: 4px;
    }</style>

    <div class="container mt-100" >
        <h1 class="text-center">커모 열기!</h1>
        <hr>
        {# cafe_detail.html을 그대로 include하는 경우 각종 버튼과 footer까지 포함된다 #}
        {# include 'cafes/cafe_detail.html' #}
        {% include 'core/navermap_script.html' %}
        <section class="mb-50" style="padding-top: 120px;">
        <div class="container-fluid " style="margin-left: 20px; margin-right: 20px;">
            <div class="flexslider carousel">
                <ul class="slides">
                    {% for photo in cafe.photos.all %}
                        <li>
                            <img src="{{ photo.image_thumb.url }}">
                        </li>
                    {% empty %}
                        <p class="lead center">사진을 등록해주세요!</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <hr>
        <div class="container" style="margin-top: 10px;">
            <div class="row">
                <div class="col-sm-8">
                    <h1>{{ cafe.name }}</h1>
                    <h6>
                        {{ cafe.uploader.name }} 님이 {{ cafe.created|date:"Y년 m월 d일" }}에 등록
                    </h6>
                    <h6>
                        {% if cafe.last_modifier %}
                            {{ cafe.last_modifier.name }} 님이 {{ cafe.modified|date:"Y년 m월 d일" }}에 마지막으로 수정
                        {% endif %}
                    </h6>
                    <hr>
                    <div class="row">
                        <div class="col-sm-2">
                            <h5>주소</h5>
                        </div>
                        <div class="col-sm-10">
                            <h5>{{ cafe.address }}</h5>
                        </div>

                        <div class="col-sm-2">
                            <h5>설명</h5>
                        </div>
                        <div class="col-sm-10">
                            {% if cafe.description %}
                                <h5>{{ cafe.description }}</h5>
                            {% else %}
                                <p>정보를 등록해주세요!</p>
                            {% endif %}
                        </div>

                        <div class="col-sm-2">
                            <h5>전화번호</h5>
                        </div>
                        <div class="col-sm-10">
                            {% if cafe.phone %}
                                <h5>{{ cafe.phone }}</h5>
                            {% else %}
                                <p>정보를 등록해주세요!</p>
                            {% endif %}
                        </div>
                        <div class="col-sm-2">
                            <h5>가격대</h5>
                        </div>
                        <div class="col-sm-10">
                            {% if cafe.price %}
                                <h5>{{ cafe.get_price_display }}</h5>
                            {% else %}
                                <p> 정보를 등록해주세요!</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <hr>
                        <div class="col-sm-2">
                            <h5>운영시간</h5>
                        </div>
                        <div class="col-sm-10">
                            {% if cafe.from_time or cafe.to_time %}
                                <h5>{{ cafe.from_time }} ~ {{ cafe.to_time }}</h5>
                            {% else %}
                                <p>정보를 등록해주세요!</p>
                            {% endif %}
                        </div>
                        <div class="col-sm-2">
                            <h5>휴무일</h5>
                        </div>
                        <div class="col-sm-10">
                            {% if cafe.closed_day %}
                                <h5>{{ cafe.get_closed_day_display }}</h5>
                            {% else %}
                                <p>정보를 등록해주세요!</p>
                            {% endif %}
                        </div>
                        <div class="col-sm-2">
                            <h5>공휴일 휴무</h5>
                        </div>
                        <div class="col-sm-10">
                            {% if cafe.closed_holiday %}
                                <h5>{{ cafe.closed_holiday | yesno:"휴무,연중무휴" }}</h5>
                            {% else %}
                                <p>정보를 등록해주세요!</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div id="map" style="width:100%;height:400px"></div>
                    <script type="text/javascript">
                        let x = "{{ cafe.mapx }}"
                        let y = "{{ cafe.mapy }}"
                        let location_title = "<h3>{{ cafe.name }}</h3>"
                    </script>
                    <script type="text/javascript" src="{% static 'core/js/navermap_view.js' %}"></script>
                </div>
            </div>
        </div>
    </section>


        <div class="row">
            <div class="col-sm-12">
                <div class="row" style="padding:10px;">
                    <form method="post" enctype="multipart/form-data">{% csrf_token %}
                        {{ form | crispy }}
                        <input type="submit" class="btn-block btn" style="margin-top:5px; border: 2px solid; font-size:25px;"  value="커모 열기!"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $(function () {
            $('#id_cafe').css("pointer-events", "none");
            $("#inline_datetimepicker").datetimepicker({
                inline: true,
                sideBySide: true,
                {#locale:'ko',#}
                format: 'YYYY-MM-DD hh:mm a',
            });
        });
    </script>
    <script type="text/javascript">
        {% if request.user_agent.is_mobile %}
            var minGridSize = 2;
            var maxGridSize = 4;
            var imgwidth = 150;
        {% else %}
            var minGridSize = 4;
            var maxGridSize = 5;
            var imgwidth = 260;
        {% endif %}
        (function () {

            // store the slider in a local variable
            var $window = $(window),
                flexslider = {vars: {}};

            // tiny helper function to add breakpoints
            function getGridSize() {
                return (window.innerWidth < 600) ? minGridSize :
                    (window.innerWidth < 900) ? maxGridSize : maxGridSize + 1;
            }


            $window.load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    prevText: '이전',
                    nextText: '다음',
                    animationLoop: false,
                    controlNav: false,
                    itemWidth: imgwidth,
                    itemMargin: 5,
                    minItems: getGridSize(), // use function to pull in initial value
                    maxItems: getGridSize() // use function to pull in initial value
                });
            });

            // check grid size on resize event
            $window.resize(function () {
                var gridSize = getGridSize();

                flexslider.vars.minItems = gridSize;
                flexslider.vars.maxItems = gridSize;
            });
        }());
    </script>
{% endblock %}
