{% extends 'cafes/cafe_create.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title> 커피 교육</title>
{% endblock %}
{% block jumbotron %}
    <div class="container">
    <h1 class="jumbotron">커피 교육 열기</h1>
    <hr>
{% endblock jumbotron %}
{% block cafe_form %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-default center-block" value="교육 열기">
    </form>
    </div>
{% endblock cafe_form %}

<script type="text/javascript">
    {% block script %}
        {{ block.super }}
    {% endblock %}
</script>