{% extends 'index.html' %}
{% load static %}
{% load imagekit %}

{% block style %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
{% endblock %}

{% block title %}
    <title>커모 리스트</title>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-150 mb-100" style="padding-left: 5%; padding-right: 5%;">
        <div class="text-center">
            <h2>커피 모임</h2>
            <p class="lead">지금까지 총 <b>{{ page_obj.paginator.count }}번</b>의 커모가 열렸어요!</p>
            <hr>
            <p>사진을 클릭하면 커모 상세 페이지로 이동합니다</p>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center" style="margin-top: 20px;">
                <a href="{% url 'cafes:cafes-search' %}" role="button"
                   class="btn btn-info btn-lg {% if request.user_agent.is_mobile %}btn-block{% endif %}">커모 열기</a>
            </div>
        </div>
        <div class="card-deck text-center">
            <!-- Card -->
            <!-- 만일 모바일로 들어왔다면 중앙 정렬을 위해서 마진을 조절한다 -->
            {% for object in object_list %}
                <div class="card mb-4
                                {% if request.user_agent.is_mobile %}mx-auto{% endif %}
                                {% if object.is_past_due %} should-overlay {% endif %}">
                    <div class="card-header">
                        {% if object.author.profile_pic %}
                            {% thumbnail "30x30" object.author.profile_pic -- class="img-profile" %}
                        {% else %}
                            <img src="{% static 'assets/img/default-avatar.png' %}" width="30" height="30"
                                 class="img-profile">
                        {% endif %}
                        {{ object.author.name }}
                    </div>
                    <a href="{% url 'meetings:coffee-meeting-detail' object.pk %}">
                        {% if object.photos.exists %}
                            <img class="card-img-top" src="{{ object.photos.all.0.image.url }}">
                        {% elif object.cafe.photos.exists %}
                            <img class="card-img-top" src="{{ object.cafe.photos.all.0.image.url }}">
                        {% else %}
                            <img class="card-img-top" src="{% static 'assets/img/default-cafe.jpg' %}">
                        {% endif %}
                    </a>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ object.cafe.name }}</li>
                        <li class="list-group-item">{{ object.meeting_date | date:"m월d일 A h시 i분" }}</li>
                        {% if object.max_participants == 0 %}
                            <li class="list-group-item">누구나 참가 가능</li>
                        {% else %}
                            <li class="list-group-item">현재 {{ object.participants.all.count }}명
                                / {{ object.max_participants }}명
                            </li>
                        {% endif %}
                    </ul>
                    <div class="card-body">
                        <h5 class="card-title">{{ object.title }}</h5>
                        <p class="card-text">{{ object.content | truncatechars:60 }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{ object.created |date:"Y년 m월 d일 A h시 i분" }}에 등록됨</small>
                    </div>
                </div>

                {# Responsive card-deck #}
                {# https://www.codeply.com/go/k2zBsujRhJ#}
                {% if forloop.counter|divisibleby:2 %}
                    <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                    <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                    <div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 4 on lg--></div>
                {% endif %}
                {% if forloop.counter|divisibleby:5 %}
                    <div class="w-100 d-none d-xl-block"><!-- wrap every 5 on xl--></div>
                {% endif %}
            {% endfor %}
        </div>

        {% if is_paginated %}
            <div class="row " style="padding:20px;">
                <div class="col-sm-12">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">이전</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled"><span class="page-link">이전</span>
                            </li>
                        {% endif %}

                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                                </li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.next_page_number }}">다음</a></li>
                        {% else %}
                            <li class="page-item disabled"><span class="page-link">다음</span></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            {# 각 card의 크기를 첫번째 card의 크기에 맞춰서 줄여준다. 첫번째 card는 항상 최소값일 것이다. #}
            let minWidth = $(".card").first().width()
            $('.card').css('max-width', minWidth + 'px')
            {# 종료된 커모의 경우 className에 should-overlay를 삽입한다.#}
            $(".should-overlay").css({'background-color': 'background-color: rgba(230, 230, 230, 1)', 'opacity': '0.5'})
            {# a href를 없애고 포인터 이벤트도 없애준다. #}
            $(".should-overlay").find('a').removeAttr("href").css("cursor", "pointer").css("pointer-events", "none")
            {# Title은 약간 진하게 표시되어 있으므로 title을 변경하여 종료를 나타낸다.  #}
            $(".should-overlay").find('.card-title').text('종료된 커모입니다')
            $(".should-overlay").find('.card-text').text('')
        })
    </script>
{% endblock %}