{% extends 'meeting_detail_base.html' %}
{% load crispy_forms_tags %}
{% load imagekit %}
{% load static %}

{% block title %}
    <title>커모</title>
{% endblock %}

{% block navermap %}
    <!-- 네이버지도 -->
    <div class="map-container row">
        <div id="map" style="width:100%;height:400px;"></div>
        <script type="text/javascript">
            let x = "{{ object.cafe.mapx }}"
            let y = "{{ object.cafe.mapy }}"
            let location_title = "<h3>{{ object.location }}</h3>"
        </script>
        <script type="text/javascript" src="{% static 'core/js/navermap_view.js' %}"></script>
    </div>
{% endblock %}

{% block below-map %}
    <div class="row"
         style="font-size:calc(0.5vw + 14px);
                        margin-top:20px;
                        margin-bottom:20px;
                        border-bottom: 1px solid #e5e5e5;">
        <div class="col-sm-4 text-center">
            <a target="_blank" style="font-weight: bold;"
               href="{% url 'cafes:cafes-detail' object.cafe.id %}">{{ object.cafe }}</a>
        </div>
        <div class="col-sm-2 text-center">
            {% with object.max_participants as max %}
                <span>
                {% if max == 0 %}
                    누구나
                {% else %}
                    {{ max }}명
                {% endif %}
            {% endwith %}
            </span>
        </div>
        <div class="col-sm-6 text-center" style="font-weight: bold;">
            <span>{{ object.meeting_date | date:"m월d일 A h시 i분" }}</span>
        </div>
    </div>
{% endblock %}

{% block comment-form %}
    {% with meeting_comment=object.comments %}
        {% include 'comments/comment_view_create.html' with goto='meetings:coffee-meeting-detail' comments=meeting_comment object=object %}
    {% endwith %}
{% endblock %}