{% extends 'cafe/cafe_create.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>공식 모임</title>
{% endblock %}
{% block jumbotron %}
    <div class="container">
    <h1 class="jumbotron">공식 모임 열기</h1>
    <hr>
{% endblock jumbotron %}

{% block cafe_form %}
    <form class="container" method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-default center-block" value="모임 만들기"/>
    </form>
    </div>
{% endblock cafe_form %}

{#    TODO: relative positioned container 에러 해결#}
<script type="text/javascript">
    {% block script %}
        {{ block.super }}

    {% endblock %}
</script>
<script src="{% static 'meetings/js/datetimepicker.js' %}"></script>