{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load imagekit %}

{% block content %}
    <!--네이버맵 자바스크립트 로딩-->
    {% include "core/navermap_script.html" %}
    <!--본문-->
    <section class="contact">
        <h1 class="text-center">공식 모임</h1>
        <div class="libre-text-lg container">
            <div class="row col-sm-6">
                <h2>
                    제목: {{ object.title }}
                </h2>
                <h4>
                    작성자: {{ object.author }}
                </h4>
                {% for p in object.photos.all %}
                    {% if p.image %}
                        <img src="{{ p.image.url }}"/>
                    {% endif %}
                {% endfor %}

                <p class="libre-text-lg mb-50">
                    내용: {{ object.content }}
                </p>
                <p class="libre-text-lg mb-50">
                    종류: {{ object.get_category_display }}
                </p>
                <p class="libre-text-lg mb-50">
                    장소: {{ object.location }}
                </p>
                <!--네이버맵 뷰-->
                <div id="map" style="width:100%;height:400px;"></div>
                <script type="text/javascript">
                    let x = "{{ object.mapx }}"
                    let y = "{{ object.mapy }}"
                    let location_title = "<h3>{{ object.location }}</h3>"
                </script>
                <script type="text/javascript" src="{% static 'core/js/navermap_view.js' %}"></script>

            </div>
            <div class="row col-sm-6">
                <p class="libre-text-lg mb-50">
                    날짜 및 시간: {{ object.meeting_date| date:"Y년 m월 d일 h시 i분" }}
                </p>
                <p class="libre-text-lg mb-50">
                    최대 참석가능인원:
                    {% with object.max_participants as max %}
                        {% if max == 0 %}
                            누구나
                        {% else %}
                            {{ max }}
                        {% endif %}

                        </p>
                        {% if max == 0 %}
                            <p class="libre-text-lg mb-50">
                                참여자:
                                {% for participant in object.participants.all %}
                                    {% if participant.user.profile_pic %}
                                        {% thumbnail "25x25" participant.user.profile_pic %}
                                    {% endif %}

                                    {{ participant.user.name }},
                                {% empty %} 아직 참여자가 없네요
                                {% endfor %}
                                ( {{ object.participants.count }} )명 <br>
                            </p>
                            <!--참여 버튼-->
                            <form action="{% url 'meetings:participate' pk=object.pk %}" method="post">{% csrf_token %}
                                <button class="btn btn-default center-block">참여</button>
                            </form>
                        {% endif %}
                    {% endwith %}
                <hr>

                <!--댓글-->
                {% include 'comments/comment_view_create.html' with goto='meetings:official-detail' %}
                {# TODO: 운영진이면 수정/삭제 할 수 있는 버튼#}
            </div>
        </div>
    </section>

{% endblock %}
