{% extends 'cafes/cafe_create.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>공식 모임</title>
{% endblock %}
{% block content %}
    <style> .btn {
        min-width: auto !important;
        line-height: 0;
        margin: 0 !important;
        display: inline-block !important;
        border-radius: 4px;
    }</style>
    <div class="container mt-150">
        <div class="jumbotron text-center">
            <h1 class="display-4">공식 모임 열기</h1>
            <p class="lead"> 신환회/동소제/MT/장터를 개최합니다.</p>
            <hr class="my-4">
            <p>행사장소를 네이버지도에서 찾기 애매한 경우 직접 입력해주세요!</p>
            <p>ex) 자하연과 문화관 사이 </p>
        </div>

        {% include 'cafes/place_search.html' %}

        <form class="container mb-50" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-block center-block" style="margin-top:5px; border: 2px solid; font-size:25px;"
                   value="모임 만들기"/>
        </form>
    </div>
{% endblock %}
