{% extends 'index.html' %}
{% load imagekit %}
{% load static %}
{% load classtype %}
{# 로그인에 성공하면 보게 되는 메인 인덱스 페이지이다. 짝지정모, 현재 진행중인 커모정보와 함께 최근 사진들이 있는 사진첩을 함께 보여준다. #}
{# 3회에 걸쳐 분기한다. 1차로 짝지의 배정여부에 따라 분기하고 2차로 위짝지인지 아래짝지인지에 따라 분기하며 3차로 아래짝지의 수에 따라 분기한다.#}

{% block content %}
    <section class="box-intro text-center">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="container-fluid" style="padding-top: 150px;">
            <div class="row mb-100">
                <div class="col-sm-6" style="margin:0; padding-left:30px;">
                    {% if partner_set %}
                        {% if is_up %}
                            {# 현재 로그인한 유저가 위짝지일 때  #}
                            <div class="row mb-50">
                                <div class="col-xs-12">
                                    <div class="profile-card center-block">
                                        {# 현재 유저가 위짝지이므로 이름 옆에 별표를 띄워준다 #}
                                        {% if user.profile_pic %}
                                            {% thumbnail "300x300" user.profile_pic -- class="img-profile" %}
                                        {% else %}
                                            <img src="{% static 'assets/img/default-avatar.png' %}"
                                                 class="img-profile img-default-up">
                                        {% endif %}
                                        <hr>
                                        <p class="lead">
                                            {{ user.name }} <span style="margin-left:2px;"
                                                                  class="glyphicon glyphicon-star"></span>
                                        </p>
                                        <h5> {{ user.get_department_display }}&nbsp;{{ user.short_student_no }}학번</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                {% for down in down_partners %}
                                    {% if down_num == 3 %}
                                        <div class="col-xs-4">
                                            <div class="center-block">

                                                {% if down.profile_pic %}
                                                    {% thumbnail "70x70" down.profile_pic -- class="img-profile" %}
                                                {% else %}
                                                    <img src="{% static 'assets/img/default-avatar.png' %}"
                                                         class="img-profile img-default">
                                                {% endif %}
                                                <p class="lead">{{ down.name }}</p>
                                                <h5> {{ down.get_department_display }}&nbsp;{{ down.short_student_no }}학번</h5>
                                            </div>
                                        </div>
                                    {% elif down_num == 2 %}
                                        <div class="col-xs-6">
                                            <div class="center-block">

                                                {% if down.profile_pic %}
                                                    {% thumbnail "70x70" down.profile_pic -- class="img-profile" %}
                                                {% else %}
                                                    <img src="{% static 'assets/img/default-avatar.png' %}"
                                                         class="img-profile img-default">
                                                {% endif %}
                                                <p class="lead">{{ down.name }}</p>
                                                <h5> {{ down.get_department_display }}&nbsp;{{ down.short_student_no }}학번</h5>
                                            </div>
                                        </div>
                                    {% elif down_num == 1 %}
                                        <div class="col-xm-12">
                                            <div class="center-block">

                                                {% if down.profile_pic %}
                                                    {% thumbnail "70x70" down.profile_pic -- class="img-profile" %}
                                                {% else %}
                                                    <img src="{% static 'assets/img/default-avatar.png' %}"
                                                         class="img-profile img-default">
                                                {% endif %}
                                                <p class="lead">{{ down.name }}</p>
                                                <h5> {{ down.get_department_display }}&nbsp;{{ down.short_student_no }}학번</h5>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="row">
                                <div class="col-sm-12 mt-50">
                                    <h2>{{ score }}점</h2>
                                </div>
                            </div>
                        {% else %}

                            {# 현재 유저가 아래짝지일 때 #}
                            <div class="row mb-50">
                                <div class="col-xs-12">
                                    <div class="profile-card center-block">
                                        {% if user.profile_pic %}
                                            {% thumbnail "300x300" user.profile_pic -- class="img-profile" %}
                                        {% else %}
                                            <img src="{% static 'assets/img/default-avatar.png' %}"
                                                 class="img-profile img-default-up">
                                        {% endif %}
                                        <p class="lead">{{ user.name }}</p>
                                        <hr>
                                        <h5> {{ user.get_department_display }}&nbsp;{{ user.short_student_no }}학번</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                {# 아래짝지 수에 따라 먼저 분기한다. #}
                                {% if down_num == 3 %}
                                    {# 아래줄에서 첫번째는 무조건 위짝지이므로 별표시를 넣어준다. #}
                                    <div class="col-xs-4">
                                        <div class="center-block">
                                            {% if up_partner.profile_pic %}
                                                {% thumbnail "70x70" up_partner.profile_pic -- class="img-profile" %}
                                            {% else %}
                                                <img src="{% static 'assets/img/default-avatar.png' %}"
                                                     class="img-profile img-default">
                                            {% endif %}
                                            <p class="lead">
                                                {{ up_partner.name }}
                                                <span style="margin-left:2px;" class="glyphicon glyphicon-star"></span>
                                            </p>
                                            <h5> {{ up_partner.get_department_display }}&nbsp;{{ up_partner.short_student_no }}학번</h5>
                                            <button data-toggle="collapse" data-target="#div-phone" class="btn"
                                                    style="min-width:inherit; background-color: transparent; margin: 0;">
                                                번호 보기
                                            </button>
                                            <div class="collapse" id="div-phone">
                                                <h5> {{ up_partner.phone }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                    {# 아래짝지중에 사용자가 있으므로 사용자 본인은 빼준다. #}
                                    {% for down in down_partners %}
                                        {% if not down == user %}
                                            <div class="col-xs-4">
                                                <div class=" center-block">

                                                    {% if down.profile_pic %}
                                                        {% thumbnail "70x70" down.profile_pic -- class="img-profile" %}
                                                    {% else %}
                                                        <img src="{% static 'assets/img/default-avatar.png' %}"
                                                             class="img-profile img-default">
                                                    {% endif %}
                                                    <p class="lead">
                                                        {{ down.name }}
                                                    </p>
                                                    <h5> {{ down.get_department_display }}&nbsp;{{ down.short_student_no }}학번</h5>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% elif down_num == 2 %}
                                    <div class="col-xs-6">
                                        <div class="center-block">

                                            {% if up_partner.profile_pic %}
                                                {% thumbnail "70x70" up_partner.profile_pic -- class="img-profile" %}
                                            {% else %}
                                                <img src="{% static 'assets/img/default-avatar.png' %}"
                                                     class="img-profile img-default">
                                            {% endif %}
                                            <p class="lead">
                                                {{ up_partner.name }}
                                                <span style="margin-left:2px;" class="glyphicon glyphicon-star"></span>
                                            </p>
                                            <h5> {{ up_partner.get_department_display }}&nbsp;{{ up_partner.short_student_no }}학번</h5>
                                        </div>
                                    </div>
                                    {% for down in down_partners %}
                                        {% if not down == user %}
                                            <div class="col-xs-6">
                                                <div class=" center-block">

                                                    {% if down.profile_pic %}
                                                        {% thumbnail "70x70" down.profile_pic -- class="img-profile" %}
                                                    {% else %}
                                                        <img src="{% static 'assets/img/default-avatar.png' %}"
                                                             class="img-profile img-default">
                                                    {% endif %}
                                                    <p class="lead">
                                                        {{ down.name }}
                                                    </p>
                                                    <h5> {{ down.get_department_display }}&nbsp;{{ down.short_student_no }}학번</h5>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% elif down_num == 1 %}
                                    {# 짝지가 한명일 땐 for문을 돌 필요가 없다. 위짝지만 뿌려준다. #}
                                    <div class="col-xs-12">
                                        <div class="center-block">

                                            {% if up_partner.profile_pic %}
                                                {% thumbnail "70x70" up_partner.profile_pic -- class="img-profile" %}
                                            {% else %}
                                                <img src="{% static 'assets/img/default-avatar.png' %}"
                                                     class="img-profile img-default">
                                            {% endif %}
                                            <p class="lead">
                                                {{ up_partner.name }}
                                                <span style="margin-left:2px;" class="glyphicon glyphicon-star"></span>
                                            </p>
                                            <h5> {{ up_partner.get_department_display }}&nbsp;{{ up_partner.short_student_no }}학번</h5>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-sm-12 mt-50 ">
                                    <h2>{{ score }}점</h2>
                                </div>
                            </div>
                        {% endif %}

                    {% else %}
                        {#  짝지가 아직 정해지지 않았을 때 #}
                        <div class="row mb-50 mt-150">
                            <div class="col-xs-12">
                                <div class="profile-card center-block">
                                    {% if user.profile_pic %}
                                        {% thumbnail "300x300" user.profile_pic -- class="img-profile" %}
                                    {% else %}
                                        <img src="{% static 'assets/img/default-avatar.png' %}"
                                             class="img-profile img-default-up">
                                    {% endif %}
                                    <p class="lead">{{ user.name }}</p>
                                    <hr>
                                    <h5> {{ user.get_department_display }}&nbsp;{{ user.short_student_no }}학번</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center"><h3>아직 짝지가 정해지지 않았습니다</h3></div>
                        </div>
                    {% endif %}
                </div>
                <!-- 공지사항  -->
                <div class="col-sm-6" style="{% if request.user_agent.is_mobile %} margin-top: 50px; {% endif %}">
                    <div class="row" style="margin-bottom: 30px;">
                        <div class="col-sm-12">
                            <h2 style="margin: 0;">공지사항</h2>
                            <h6>가장 최근 3개의 공식모임 및 커피교육이 보여집니다.</h6>
                            <a href="{% url 'meetings:meetings-list' %}" class="pull-right"
                               style="margin:0; margin-right: 10%;">
                                <span class="glyphicon glyphicon-plus"></span> 더보기
                            </a>
                        </div>
                    </div>
                    <div class="official-container">
                        {% for official in official_meetings %}
                            {% if not official.is_past_due %}
                                {% if official|to_class_name == 'OfficialMeeting' %}
                                    {# 공식모임은 프로필사진을 왼쪽에 넣어준다  #}
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="row center-block " style="padding:10px;">
                                                {% if official.author.profile_pic %}
                                                    {% thumbnail "100x100" official.author.profile_pic -- style='max-width:100%;' class="img-profile" %}
                                                {% else %}
                                                    <img src="{% static 'assets/img/default-avatar.png' %}"
                                                         class="img-profile img-default-up" style="max-width: 100%;">
                                                {% endif %}
                                            </div>
                                            <div class="row center-block">
                                                <h4>{{ official.author.name }}
                                                    <span class="lnr lnr-diamond"></span>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <a href="{% url 'meetings:official-detail' official.pk %}">
                                                <div class="speech-bubble"
                                                     style="max-width: 90%; padding: 5px; margin-bottom: 5px;">
                                                    <h4>{{ official.title }}</h4>
                                                    <h5>{{ official.get_category_display }} </h5>
                                                    <h5> {{ official.meeting_date |date:"m월 d일 A h시 i분" }}</h5>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% elif official|to_class_name == 'CoffeeEducation' %}
                                    {# 커피교육은 프로필사진을 오른쪽에 넣어준다. #}
                                    <div class="row">
                                        <div class="col-xs-6 col-xs-offset-3">
                                            <a href="{% url 'meetings:education-detail' official.pk %}">
                                                <div class="speech-bubble-inverse"
                                                     style="max-width: 90%; padding: 5px; margin-bottom: 5px;">
                                                    <h4>{{ official.title }}</h4>
                                                    <h5>{{ official.get_category_display }} </h5>
                                                    <h5> {{ official.meeting_date |date:"m월 d일 A h시 i분" }}</h5>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="row center-block " style="padding:10px;">
                                                {% if official.author.profile_pic %}
                                                    {% thumbnail "100x100" official.author.profile_pic -- style='max-width:100%;' class='img-profile' %}
                                                {% else %}
                                                    <img src="{% static 'assets/img/default-avatar.png' %}"
                                                         class="img-profile img-default-up" style="max-width: 100%;">
                                                {% endif %}
                                            </div>
                                            <div class="row center-block">
                                                <h4>{{ official.author.name }}
                                                    <span class="lnr lnr-diamond"></span>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row btn-container ">
                <div class="btn-group-lg mb-50 panel panel-default">
                    <a href="{% url 'cafes:cafes-search' %}" class="btn" style="margin-right: 10px;">커모
                        열기</a>
                    <a href="{% url 'partners:meeting-list' %}" class="btn">짝모 보기</a>
                    {% if partner_set %}
                        <a href="{% url 'partners:meeting-create' %}" class="btn" style="margin-left:10px;">
                            짝모 등록</a>
                    {% else %}
                        <a href="{% url 'partners:meeting-create' %}" class="btn disabled">짝모 등록</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- 커모 섹션 -->
    <section class="portfolio " style="padding-top: 75px;">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12">
                    <h2 style="margin: 0;">커모해요!</h2>
                    <p style="margin-top:20px;">가장 최근 4개의 커모만 보여집니다.</p>
                    <a href="{% url 'meetings:coffee-meeting-list' %}" class="pull-right"
                       style="margin:0;">
                        <span class="glyphicon glyphicon-plus"></span> 더보기
                    </a>
                </div>
            </div>
            <div class="row">
                {% for coffeemeeting in coffee_meetings %}
                    <a href="{% url 'meetings:coffee-meeting-detail' coffeemeeting.pk %}">
                        <div class="col-sm-3">
                            <div class="card
                                        {% if coffeemeeting.is_past_due %} should-overlay {% endif %}"
                                 style="margin: 20px; max-height: 100%;">
                                <div class="row">
                                    <div class="col-sm-12"
                                         style="margin: 10px; font-size: calc(0.3vw + 14px); ">
                                        {% if coffeemeeting.author.profile_pic %}
                                            {% thumbnail "30x30" coffeemeeting.author.profile_pic -- class="img-profile" %}
                                        {% else %}
                                            <img src="{% static 'assets/img/default-avatar.png' %}" width="30"
                                                 height="30"
                                                 class="img-profile">
                                        {% endif %}
                                        {{ coffeemeeting.author.name }}
                                    </div>
                                </div>
                                {% if coffeemeeting.photos.exists %}
                                    <img src="{{ coffeemeeting.photos.all.0.image.url }}" style="width: 100%;">
                                {% elif coffeemeeting.cafe.photos.exists %}
                                    <img src="{{ coffeemeeting.cafe.photos.all.0.image.url }}" style="width: 100%;">
                                {% else %}
                                    <img src="{% static 'assets/img/default-cafe.jpg' %}" style="width: 100%;">
                                {% endif %}
                                <div class="row" style="padding:10px;">
                                    <h5 class="cafe-name" style="font-size:calc(0.3vw + 14px); ">{{ coffeemeeting.cafe.name }}</h5>
                                    <hr>
                                    <p style="font-size:calc(0.3vw + 14px); ">{{ coffeemeeting.meeting_date | date:"m월 d일 A h시 i분" }}</p>
                                    <hr>
                                    <h5 style="font-size:calc(0.3vw + 14px); ">현재 {{ coffeemeeting.participants.count }}
                                        / {{ coffeemeeting.max_participants }}</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- 최근짝모 -->
    <section class="portfolio mb-50" style="padding-top: 75px;">
        <div class="container text-center">
            <div class="row ">
                <div class="col-sm-12">
                    <h2 style="margin: 0;">짝모했어요!</h2>
                    <p style="margin-top:20px;">가장 최근 4개의 짝모만 보여집니다.</p>
                    <a href="{% url 'partners:meeting-list' %}" class="pull-right"
                       style="margin:0;">
                        <span class="glyphicon glyphicon-plus"></span> 더보기
                    </a>
                </div>
            </div>
            <div class="row">
                {% for meeting in partner_meetings %}
                    <a href="{% url 'partners:meeting-list' %}">
                        <div class="col-sm-3">
                            <div class="card" style="margin: 20px; max-height: 100%;">
                                <div class="row">
                                    <div class="col-sm-12"
                                         style="margin: 10px; font-size: calc(0.3vw + 14px); ">
                                        {% if meeting.author.profile_pic %}
                                            {% thumbnail "30x30" meeting.author.profile_pic -- class="img-profile" %}
                                        {% else %}
                                            <img src="{% static 'assets/img/default-avatar.png' %}" width="30"
                                                 height="30"
                                                 class="img-profile">
                                        {% endif %}
                                        {{ meeting.author.name }}
                                    </div>
                                </div>
                                {% if meeting.photos.exists %}
                                    <img src="{{ meeting.photos.all.0.image.url }}"
                                         style="width: 100%; max-height: 200px;">
                                {% else %}
                                    {# 무조건 짝모는 사진이 있다. #}
                                    <h5>데이터가 이상합니다. 운영진에게 문의하세요.</h5>
                                {% endif %}
                                <div class="row" style="padding:10px;">
                                    <p style="font-size:calc(0.3vw + 14px); ">위짝지
                                        <b>{{ meeting.partner.up_partner.user.name }}</b></p>
                                    <hr>
                                    <h5 style="font-size:calc(0.3vw + 14px); ">{{ meeting.num_eat }}밥 {{ meeting.num_coffee }}커 </h5>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- 사진첩 -->
    <section class="portfolio">
        <div class="container-fluid ">
            <div class="flexslider text-center carousel mt-100 mb-100">
                {% if request.user_agent.is_mobile %}
                    <h6>슬라이드해서 넘겨보세요!</h6>
                {% endif %}
                <ul class="slides">
                    {% for photo in latest_photos %}
                        <li>
                        {# FIXME: refactor here #}
{#                            <a href="{% url 'photo_albums:photo_detail' photo.pk %}">#}
                                <img src="{{ photo.thumbnail.url }}" style="height: 250px;">
{#                            </a>#}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $(document).ready(() => {
            {# 종료된 커모의 경우 className에 should-overlay를 삽입한다.#}
            $(".should-overlay").css({'background-color': 'background-color: rgba(230, 230, 230, 1)', 'opacity': '0.5'})
            {# a href를 없애고 포인터 이벤트도 없애준다. #}
            $(".should-overlay").find('a').removeAttr("href").css("cursor", "pointer").css("pointer-events", "none")
            {# Title은 약간 진하게 표시되어 있으므로 title을 변경하여 종료를 나타낸다.  #}
            $(".should-overlay").find('.cafe-name').text('종료된 커모입니다')

            $('.div-coffee-meeting').on('click', function () {
                let meetingURL = $(this).attr('meeting-detail')
                location.href = meetingURL
            })
            $('.photos').on('click', function () {
                let redirectURL = $(this).attr('redirect-url')
                location.href = redirectURL
            })
            $('.flexslider').flexslider({
                animation: "slide",
                animationLoop: true,
                itemWidth: 210,
                itemMargin: 5,
                prevText: '이전',
                nextText: '다음',
                minItems: 1,
                maxItems: 4
            });
        })
    </script>
{% endblock %}
