{% extends 'index.html' %}
{% load imagekit %}
{% load static %}
{# 로그인에 성공하면 보게 되는 메인 인덱스 페이지이다. 짝지정모, 현재 진행중인 커모정보와 함께 최근 사진들이 있는 사진첩을 함께 보여준다. #}
{# 3회에 걸쳐 분기한다. 1차로 짝지의 배정여부에 따라 분기하고 2차로 위짝지인지 아래짝지인지에 따라 분기하며 3차로 아래짝지의 수에 따라 분기한다.#}

{% block content %}
    <section class="box-intro text-center">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="container-fluid mt-150">
            <div class="row">
                <div class="col-sm-6" style="margin:0;">
                    {% if partner_set %}
                        {% if is_up %}
                            {# 현재 로그인한 유저가 위짝지일 때  #}
                            <div class="row mb-50">
                                <div class="col-xs-12">
                                    <div class="profile-card center-block">
                                        {# 현재 유저가 위짝지이므로 이름 옆에 별표를 띄워준다 #}
                                        {% if user.profile_pic %}
                                            {% thumbnail "300x300" user.profile_pic -- class="img-profile" %}
                                        {% else %}
                                            <img src="{% static 'assets/img/default-avatar.png' %}"
                                                 class="img-profile img-default-up">
                                        {% endif %}
                                        <hr>
                                        <p class="lead">
                                            {{ user.name }} <span style="margin-left:2px;"
                                                                  class="glyphicon glyphicon-star"></span>
                                        </p>
                                        <h5> {{ user.get_department_display }}&nbsp;{{ user.short_student_no }}학번</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                {% for down in down_partners %}
                                    {% if down_num == 3 %}
                                        <div class="col-xs-4">
                                            <div class="profile-card center-block">

                                                {% if down.profile_pic %}
                                                    {% thumbnail "70x70" down.profile_pic -- class="img-profile" %}
                                                {% else %}
                                                    <img src="{% static 'assets/img/default-avatar.png' %}"
                                                         class="img-profile img-default">
                                                {% endif %}
                                                <p class="lead">{{ down.name }}</p>
                                                <h5> {{ down.get_department_display }}&nbsp;{{ down.short_student_no }}학번</h5>
                                            </div>
                                        </div>
                                    {% elif down_num == 2 %}
                                        <div class="col-xs-6">
                                            <div class="profile-card center-block">

                                                {% if down.profile_pic %}
                                                    {% thumbnail "70x70" down.profile_pic -- class="img-profile" %}
                                                {% else %}
                                                    <img src="{% static 'assets/img/default-avatar.png' %}"
                                                         class="img-profile img-default">
                                                {% endif %}
                                                <p class="lead">{{ down.name }}</p>
                                                <h5> {{ down.get_department_display }}&nbsp;{{ down.short_student_no }}학번</h5>
                                            </div>
                                        </div>
                                    {% elif down_num == 1 %}
                                        <div class="col-xm-12">
                                            <div class="profile-card center-block">

                                                {% if down.profile_pic %}
                                                    {% thumbnail "70x70" down.profile_pic -- class="img-profile" %}
                                                {% else %}
                                                    <img src="{% static 'assets/img/default-avatar.png' %}"
                                                         class="img-profile img-default">
                                                {% endif %}
                                                <p class="lead">{{ down.name }}</p>
                                                <h5> {{ down.get_department_display }}&nbsp;{{ down.short_student_no }}학번</h5>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="row">
                                <div class="col-sm-12 mt-50">
                                    <h2>{{ score }}점</h2>
                                </div>
                            </div>
                        {% else %}

                            {# 현재 유저가 아래짝지일 때 #}
                            <div class="row mb-50">
                                <div class="col-xs-12">
                                    <div class="profile-card center-block">
                                        {% if user.profile_pic %}
                                            {% thumbnail "300x300" user.profile_pic -- class="img-profile" %}
                                        {% else %}
                                            <img src="{% static 'assets/img/default-avatar.png' %}"
                                                 class="img-profile img-default-up">
                                        {% endif %}
                                        <p class="lead">{{ user.name }}</p>
                                        <hr>
                                        <h5> {{ user.get_department_display }}&nbsp;{{ user.short_student_no }}학번</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                {# 아래짝지 수에 따라 먼저 분기한다. #}
                                {% if down_num == 3 %}
                                    {# 아래줄에서 첫번째는 무조건 위짝지이므로 별표시를 넣어준다. #}
                                    <div class="col-xs-4">
                                        <div class="profile-card center-block">
                                            {% if up_partner.profile_pic %}
                                                {% thumbnail "70x70" up_partner.profile_pic -- class="img-profile" %}
                                            {% else %}
                                                <img src="{% static 'assets/img/default-avatar.png' %}"
                                                     class="img-profile img-default">
                                            {% endif %}
                                            <p class="lead">
                                                {{ up_partner.name }}
                                                <span style="margin-left:2px;" class="glyphicon glyphicon-star"></span>
                                            </p>
                                            <h5> {{ up_partner.get_department_display }}&nbsp;{{ up_partner.short_student_no }}학번</h5>
                                            <button data-toggle="collapse" data-target="#div-phone" class="btn"
                                                    style="min-width:inherit; margin: 0; background-color:white;">번호 보기
                                            </button>
                                            <div class="collapse" id="div-phone">
                                                <h5> {{ up_partner.phone }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                    {# 아래짝지중에 사용자가 있으므로 사용자 본인은 빼준다. #}
                                    {% for down in down_partners %}
                                        {% if not down == user %}
                                            <div class="col-xs-4">
                                                <div class="profile-card center-block">

                                                    {% if down.profile_pic %}
                                                        {% thumbnail "70x70" down.profile_pic -- class="img-profile" %}
                                                    {% else %}
                                                        <img src="{% static 'assets/img/default-avatar.png' %}"
                                                             class="img-profile img-default">
                                                    {% endif %}
                                                    <p class="lead">
                                                        {{ down.name }}
                                                    </p>
                                                    <h5> {{ down.get_department_display }}&nbsp;{{ down.short_student_no }}학번</h5>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% elif down_num == 2 %}
                                    <div class="col-xs-6">
                                        <div class="profile-card center-block">

                                            {% if up_partner.profile_pic %}
                                                {% thumbnail "70x70" up_partner.profile_pic -- class="img-profile" %}
                                            {% else %}
                                                <img src="{% static 'assets/img/default-avatar.png' %}"
                                                     class="img-profile img-default">
                                            {% endif %}
                                            <p class="lead">
                                                {{ up_partner.name }}
                                                <span style="margin-left:2px;" class="glyphicon glyphicon-star"></span>
                                            </p>
                                            <h5> {{ up_partner.get_department_display }}&nbsp;{{ up_partner.short_student_no }}학번</h5>
                                        </div>
                                    </div>
                                    {% for down in down_partners %}
                                        {% if not down == user %}
                                            <div class="col-xs-6">
                                                <div class="profile-card center-block">

                                                    {% if down.profile_pic %}
                                                        {% thumbnail "70x70" down.profile_pic -- class="img-profile" %}
                                                    {% else %}
                                                        <img src="{% static 'assets/img/default-avatar.png' %}"
                                                             class="img-profile img-default">
                                                    {% endif %}
                                                    <p class="lead">
                                                        {{ down.name }}
                                                    </p>
                                                    <h5> {{ down.get_department_display }}&nbsp;{{ down.short_student_no }}학번</h5>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% elif down_num == 1 %}
                                    {# 짝지가 한명일 땐 for문을 돌 필요가 없다. 위짝지만 뿌려준다. #}
                                    <div class="col-xs-12">
                                        <div class="profile-card center-block">

                                            {% if up_partner.profile_pic %}
                                                {% thumbnail "70x70" up_partner.profile_pic -- class="img-profile" %}
                                            {% else %}
                                                <img src="{% static 'assets/img/default-avatar.png' %}"
                                                     class="img-profile img-default">
                                            {% endif %}
                                            <p class="lead">
                                                {{ up_partner.name }}
                                                <span style="margin-left:2px;" class="glyphicon glyphicon-star"></span>
                                            </p>
                                            <h5> {{ up_partner.get_department_display }}&nbsp;{{ up_partner.short_student_no }}학번</h5>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-sm-12 mt-50 ">
                                    <h2>{{ score }}점</h2>
                                </div>
                            </div>
                        {% endif %}

                    {% else %}
                        {#  짝지가 아직 정해지지 않았을 때 #}
                        <div class="row mb-50">
                            <div class="col-xs-12">
                                <div class="profile-card center-block">
                                    {% if user.profile_pic %}
                                        {% thumbnail "300x300" user.profile_pic -- class="img-profile" %}
                                    {% else %}
                                        <img src="{% static 'assets/img/default-avatar.png' %}"
                                             class="img-profile img-default-up">
                                    {% endif %}
                                    <p class="lead">{{ user.name }}</p>
                                    <hr>
                                    <h5> {{ user.get_department_display }}&nbsp;{{ user.short_student_no }}학번</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center"><h3>아직 짝지가 정해지지 않았습니다</h3></div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    {# TODO: 여기 하기 #}
                </div>
            </div>
            <div class="row btn-container mt-50 ">
                <div class="btn-group-lg mb-50 panel panel-default">
                    <a href="{% url 'cafes:cafes-search' %}" class="btn" style="margin-right: 10px;">커모
                        열기</a>
                    <a href="{% url 'partners:meeting-list' %}" class="btn">짝모 보기</a>
                    {% if partner_set %}
                        <a href="{% url 'partners:meeting-create' %}" class="btn" style="margin-left:10px;">
                            짝모 등록</a>
                    {% else %}
                        <a href="{% url 'partners:meeting-create' %}" class="btn disabled">짝모 등록</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $(document).ready(() => {
            $('.div-coffee-meeting').on('click', function () {
                let meetingURL = $(this).attr('meeting-detail')
                location.href = meetingURL
            })
            $('.photos').on('click', function () {
                let redirectURL = $(this).attr('redirect-url')
                location.href = redirectURL
            })
        })
    </script>
{% endblock %}
