{% load imagekit %}
{% load static %}

<div class="container">
    <div class="row">
        {% for album in album_list %}
            <div class="col-sm-3 text-center" style="margin:5px;">
                <a href="{% url 'photo_albums:album-detail' album.pk %}">
                    <img src="{{ album.photos.all.0.thumbnail.url }}" class="img-responsive" style="max-width:180px;">
                    <p>{{ album.name }}</p>
                    <p>{{ album.description }}</p>
                    <p>사진 {{ album.photos.all.count }}장</p>
                </a>
            </div>
        {% endfor %}
    </div>
</div>