{% extends 'index.html' %}
{% load imagekit %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <section class="box-intro">
        <div class="container mt-150">
            <div class="row text-center">
                <div class="col-sm-6">
                    {# 공식 모임 리스트 #}
                    <div class="row">
                        <div class="col-sm-12 mb-50">
                            <h2>공식 모임</h2>
                            <p>가장 최신의 모임 5개까지 보여집니다</p>
                        </div>
                    </div>
                    <div id="div-official-container">
                        {% for meeting in officialmeeting_list %}
                            {% if not meeting.is_past_due %}
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="row center-block " style="padding:10px;">
                                            {% if meeting.author.profile_pic %}
                                                {% thumbnail "100x100" meeting.author.profile_pic -- style='max-width:100%;' %}
                                            {% else %}
                                                <img src="{% static 'assets/img/default-avatar.png' %}"
                                                     class="img-profile img-default-up" style="max-width: 100%;">
                                            {% endif %}
                                        </div>
                                        <div class="row center-block">
                                            <h4>{{ meeting.author.name }}
                                                <span class="lnr lnr-diamond"></span>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="col-xs-9">
                                        <a href="{% url 'meetings:official-detail' meeting.pk %}">
                                            <div class="speech-bubble"
                                                 style="padding: 5px; margin-bottom: 5px;">
                                                <h4>{{ meeting.title }}</h4>
                                                <h5><b>{{ meeting.get_category_display }}</b>
                                                    / {{ meeting.meeting_date |date:"m월 d일 A h시 i분" }}</h5>
                                                <h5><b>{{ meeting.location }}</b> 에서</h5>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>

                </div>
                <div class="col-sm-6">
                    {# 커피 교육 리스트 #}
                    <div class="row">
                        <div class="col-sm-12 mb-50">
                            <h2>커피 교육</h2>
                            <p>가장 최신의 교육 5개까지 보여집니다</p>
                        </div>
                    </div>
                    <div id="div-official-container">
                        {% for education in coffee_education_list %}
                            {% if not education.is_past_due %}
                                <div class="row">
                                    <div class="col-xs-9">
                                        <a href="{% url 'meetings:education-detail' education.pk %}">
                                            <div class="speech-bubble-inverse"
                                                 style=" padding: 5px; margin-bottom: 5px;">
                                                <h4>{{ education.title }}</h4>
                                                <h5>{{ education.get_category_display }}
                                                    ({{ education.get_difficulty_display }})
                                                    / {{ education.meeting_date |date:"m월 d일 A h시 i분" }}</h5>
                                                <h5><b>{{ education.location }}</b>에서 </h5>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="row center-block " style="padding:10px;">
                                            {% if education.author.profile_pic %}
                                                {% thumbnail "100x100" education.author.profile_pic -- class="img-profile" style="max-width: 100%;" %}
                                            {% else %}
                                                <img src="{% static 'assets/img/default-avatar.png' %}"
                                                     class="img-profile img-default-up" style="max-width: 100%;">
                                            {% endif %}
                                        </div>
                                        <div class="row center-block">
                                            <h4>{{ education.author.name }}
                                                <span class="lnr lnr-diamond"></span>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}}
