{% extends 'base.html' %}

{% block content %}
    <div class="box-intro">
    <div class="container" style="margin-top: 100px; margin-bottom: 100px">
        <h1 style="margin-top: 50px; margin-bottom: 50px;"> Survey</h1>
        {% if user.is_staff %}
            <div style="margin-top: 50px; margin-bottom: 50px;">
                <div align="right" style="margin-right: 100px;">
                    <a href="{% url 'surveys:survey-create' %}" class="btn btn-info">새로운 양식</a>
                </div>
                <h2 align="left" style="margin-left: 100px;">설문중인 양식</h2>
                <div class="row">
                    {% for form in object_list %}
                        {% if form.opened %}
                            <div class="col-lg-pull-5" style="margin-top: 50px;">
                                <h2 class="card-title">{{ form.title }}</h2>
                                {% if form.purpose == 'join_new' %}
                                    <p class="card-text">신입가입 양식</p>
                                {% elif form.purpose == 'join_old' %}
                                    <p class="card-text">기존가입 양식</p>
                                {% elif form.purpose == 'survey' %}
                                    <p class="card-text">전체설문 양식</p>
                                {% endif %}
                                <p class="card-text">설명 : {{ form.description }}</p>
                                <p class="card-text">작성자 : {{ form.owner }}</p>
                                <p class="card-text">작성일 : {{ form.created|date:"Y-m-d H:i" }}</p>
                                <p class="card-text">응답자 : {{ form.users.count }}</p>
                                <a href="{% url 'surveys:survey-fill' user_id=user.id pk=form.id %}"
                                   class="btn btn-primary">작성</a>
                                <a href="{% url 'surveys:survey-result' pk=form.id %}"
                                   class="btn btn-info">결과</a>
                                <a href="{% url 'surveys:delete-form' pk=form.id %}"
                                   class="btn btn-danger"
                                   onclick="return confirm('정말 지우시겠습니까?');">삭제</a>
                                {% if form.opened %}
                                    <a href="{% url 'surveys:change-form-state' pk=form.id %}"
                                       class="btn btn-success">응답 종료</a>
                                {% else %}
                                    <a href="{% url 'surveys:change-form-state' pk=form.id %}"
                                       class="btn btn-success">응답 열기</a>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <hr style="border: 1px solid #ccc; margin: 20px;">
                <h2 align="left" style="margin-left: 100px;">설문 종료된 양식</h2>
                <div class="row">
                    {% for form in object_list %}
                        {% if form.opened == False %}
                            <div class="col-lg-pull-5" style="margin-top: 50px;">
                                <h2 class="card-title">{{ form.title }}</h2>
                                {% if form.purpose == 'join_new' %}
                                    <p class="card-text">신입가입 양식</p>
                                {% elif form.purpose == 'join_old' %}
                                    <p class="card-text">기존가입 양식</p>
                                {% elif form.purpose == 'survey' %}
                                    <p class="card-text">전체설문 양식</p>
                                {% endif %}
                                <p class="card-text">설명 : {{ form.description }}</p>
                                <p class="card-text">작성자 : {{ form.owner }}</p>
                                <p class="card-text">작성일 : {{ form.created|date:"Y-m-d H:i" }}</p>
                                <p class="card-text">응답자 : {{ form.users.count }}</p>
                                <a href="{% url 'surveys:survey-fill' user_id=user.id pk=form.id %}"
                                   class="btn btn-primary">작성</a>
                                <a href="{% url 'surveys:survey-result' pk=form.id %}"
                                   class="btn btn-info">결과</a>
                                <a href="{% url 'surveys:delete-form' pk=form.id %}"
                                   class="btn btn-danger"
                                   onclick="return confirm('정말 지우시겠습니까?');">삭제</a>
                                {% if form.opened %}
                                    <a href="{% url 'surveys:change-form-state' pk=form.id %}"
                                       class="btn btn-success">응답 종료</a>
                                {% else %}
                                    <a href="{% url 'surveys:change-form-state' pk=form.id %}"
                                       class="btn btn-success">응답 열기</a>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div style="margin-top: 50px; margin-bottom: 50px;">
                <h2 align="left" style="margin-left: 100px;">제출할 양식</h2>
                <div class="row">
                    {% for form in object_list %}
                        {% if not user in form.users.all %}
                            {% if form.opened and form.purpose != 'join_new' %}
                                <div class="col-lg-pull-5" style="margin-top: 50px;">
                                    <h2 class="card-title">{{ form.title }}</h2>
                                    {% if form.purpose == 'join_old' %}
                                        <p class="card-text">기존가입 양식</p>
                                    {% elif form.purpose == 'survey' %}
                                        <p class="card-text">전체설문 양식</p>
                                    {% endif %}
                                    <p class="card-text">설명 : {{ form.description }}</p>
                                    <p class="card-text">작성일 : {{ form.created|date:"Y-m-d H:i" }}</p>
                                    <p class="card-text">응답자 : {{ form.users.count }}</p>
                                    <a href="{% url 'surveys:survey-fill' user_id=user.id pk=form.id %}"
                                       class="btn btn-primary">작성</a>
                                    <!--a href="{% url 'surveys:survey-result' pk=form.id %}"
                                       class="btn btn-info">결과</a-->
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <hr style="border: 1px solid #ccc; margin: 20px;">
                <h2 align="left" style="margin-left: 100px;">제출된 양식</h2>
                <div class="row">
                    {% for form in object_list %}
                        {% if user in form.users.all %}
                            {% if form.opened and form.purpose != 'join_new' %}
                                <div class="col-lg-pull-5" style="margin-top: 50px;">
                                    <h2 class="card-title">{{ form.title }}</h2>
                                    {% if form.purpose == 'join_old' %}
                                        <p class="card-text">기존가입 양식</p>
                                    {% elif form.purpose == 'survey' %}
                                        <p class="card-text">전체설문 양식</p>
                                    {% endif %}
                                    <p class="card-text">설명 : {{ form.description }}</p>
                                    <p class="card-text">작성일 : {{ form.created|date:"Y-m-d H:i" }}</p>
                                    <p class="card-text">응답자 : {{ form.users.count }}</p>
                                    <a href="{% url 'surveys:survey-fill' user_id=user.id pk=form.id %}"
                                       class="btn btn-primary">재작성</a>
                                    <!--a href="{% url 'surveys:survey-result' pk=form.id %}"
                                       class="btn btn-info">결과</a-->
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
    </div>
{% endblock %}
