{% extends 'base.html' %}
{% block content %}
    <div class="box-intro">
        <div class="container" style="margin-top: 100px; margin-bottom: 100px">
            <a class="btn btn-primary" style="margin: 50px; position: absolute; left: 0px; top: 50px"
               href="{% url 'surveys:survey-list' %}">홈으로</a>
            {% if form.purpose == 'join_old' and can_old_register or form.purpose == 'join_new' and can_new_register or form.purpose == 'survey' %}
                <form action="{% url 'surveys:survey-fill' user_id=user.id pk=form.id %}" method="POST"
                      class="submit-form" style="margin: 100px;">
                    {% csrf_token %}
                    <div>
                        <div class="row" style="margin-bottom: 50px;">
                            <div class="card-block">
                                <h2 class="card-title">제목 : {{ form.title }}</h2>
                                <h6 class="card-subtitle mb-2 text-muted">설명 : {{ form.description }}</h6>
                            </div>
                        </div>
                        {% for question in questions %}

                            <div class="row">
                                <div class="form-group">
                                    질문 {{ forloop.counter }}:
                                    <input type="text" class="form-control question-text"
                                           name="question-text"
                                           placeholder="{{ question.question_text }}?" disabled>
                                </div>
                            </div>
                            <div class="row">
                                {% if question.question_type == 'text' %}
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="{{ question.question_text }}"
                                               placeholder="텍스트 응답">
                                    </div>
                                {% elif question.question_type == 'choice_one' %}
                                    <div class="form-check answer-type">
                                        {% for choice in choices %}
                                            {% if choice.question == question %}
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio"
                                                           name="{{ question.question_text }}"
                                                           value="{{ choice.choice_text }}">
                                                    <span class="option-text">{{ choice.choice_text }}</span>
                                                </label>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% elif question.question_type == 'choice_many' %}
                                    <div class="form-check answer-type">
                                        {% for choice in choices %}
                                            {% if choice.question == question %}
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox"
                                                           name="{{ question.question_text }}"
                                                           value="{{ choice.choice_text }}">
                                                    <span class="option-text">{{ choice.choice_text }}</span>
                                                </label>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% elif question.question_type == 'binary' %}
                                    <div class="form-check answer-type">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio"
                                                   name="{{ question.question_text }}"
                                                   value="yes">
                                            <span class="option-text">예</span>
                                        </label>
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio"
                                                   name="{{ question.question_text }}"
                                                   value="no">
                                            <span class="option-text">아니오</span>
                                        </label>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" value="continue">제출</button>
                        </div>
                    </div>
                </form>
                </div>
                </div>
            {% else %}
                <div class="box-intro">
                    <div class="container" style="margin-top: 100px; margin-bottom: 100px">
                        {% if form.purpose == 'join_old' and not can_old_register %}
                            <h2 style="margin: 200px;">기존 가입기간이 아닙니다.</h2>
                        {% elif form.purpose == 'join_new' and not can_new_register %}
                            <h2 style="margin: 200px;">신입 가입기간이 아닙니다.</h2>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
{% endblock %}
