{% extends "album_base.html" %}
{% block title %}앨범{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static "css/photo.css" %}{% endblock %}

{% block content %}
    <div class="box-intro">
        <div id="content" style="margin-top: 100px; margin-bottom: 100px;">
        <a class="btn btn-primary" style="margin: 50px; position: absolute; left: 0px; top: 50px"
                   href="{% url 'photo_albums:album_list' %}">뒤로</a>
            <h2 style="display: inline">{{ object.name }}</h2>
            &emsp;<b><i>{{ object.description }} </i></b>
            <i> {{ object.created }}</i>&emsp;
            {# if user.is_staff or user == object.uploader #}
                <a class="btn btn-info" style="margin: 50px; position: absolute; right: 0px; top: 50px" href="{% url "photo_albums:album_edit" album_id=object.id %}">편집</a>
            {# endif #}
            <hr>

            <div class="album-detail" style="display:inline;margin-left: 5px">
                {% for photo in object.photo_set.all %}
                    <div class="album-detail-photo" style="display:inline;margin-left: 10px">
                        <a href="{{ photo.get_absolute_url }}">
                            <img src="{{ photo.thumbnail.url }}" alt="thumbnail"
                                 style="border: 1px solid #ccc; margin: 20px;">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
