{% extends 'index.html' %}
{% load imagekit %}
{% load static %}

{% block style %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <!-- Linear Icons -->
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
{% endblock %}


{% block title %}
    <title>사진첩</title>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-150 px-4 mb-50">
        <div class="row" style="margin:20px;">
            <div class="col-12">
                <a href="{% url 'photo_albums:album-detail' photo.album.pk %}">
                    <span class="lnr lnr-chevron-left-circle"></span>
                    돌아가기
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <img src="{{ photo.photo.url }}" style="width: 100%;">
            </div>
            <div class="col-sm-4 px-5">
                <div class="row">
                    <div class="col-8">
                        {% if photo.author.profile_pic %}
                            {% thumbnail "50x50" photo.author.profile_pic -- class="img-profile" %}
                        {% else %}
                            <img src="{% static 'assets/img/default-avatar.png' %}" width="50" height="50"
                                 class="img-profile">
                        {% endif %}
                        <span style="font-size:calc(0.5vw + 15px);">{{ photo.author.name }}</span>
                        &#187;
                        <a href="{% url 'photo_albums:album-detail' photo.album.pk %}">
                            <span style="font-size: calc(0.5vw + 15px);"> {{ photo.album.name }}</span>
                        </a>
                    </div>
                    <div class="col-4 text-center">
                        {% if photo.author == request.user or request.user.is_staff or album.author == request.user %}
                            <form method="post" action="{% url 'photo_albums:photo-delete' photo.pk %}">{% csrf_token %}
                                <span class="lnr lnr-cross" style="font-size: 15px;"></span>
                                {# 역시 더럽지만 시간이 없다.... #}
                                <button type="submit"
                                        onclick="return confirm('정말로 삭제하시겠습니까?');"
                                        style="margin: 0;
                                        border:none;
                                        outline:none;
                                        background:none;
                                        cursor:pointer;
                                        text-decoration: none;
                                        font-weight: 300;
                                        color: #777;
                                        -webkit-transition: all .2s ease-in-out;
                                        transition: all .2s ease-in-out;">
                                    사진삭제
                                </button>
                            </form>
                            <a href="{% url 'photo_albums:photo-update' photo.pk %}">
                                <p style="margin: 0;"><span class="lnr lnr-pencil" style="font-size: 15px;"></span>사진수정
                                </p>
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p style="margin-left: 65px;">{{ photo.created |date:"Y년 m월 d일" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h6>{{ photo.description }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

