{% extends "album_base.html" %}

{% block title %}사진{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/photo.css" %}{% endblock %}

{% block content %}
    <div class="box-intro">
        <div class="container" style="margin-top: 100px; margin-bottom: 100px">
            <div class="row">
                <div class="col" align="left" style="margin-left: 100px;">
                    <a class="btn btn-primary" style="margin: 50px; position: absolute; left: 0px; top: 100px"
                       href="{% url 'photo_albums:album_detail' object.album.id %}">앨범으로</a>
                </div>
            </div>
            <div class="row">
                <h2>{{ object.album.name }}</h2>
            </div>
            <div class="row">
                <table class="photo-detail" style="margin-left: 100px; margin-right: 100px; margin-top: 50px;">
                    <tr>
                        <td>
                            <a href="{{ object.file.url }}">
                                <img src="{{ object.file.url }}"
                                     style="max-width: 100%; margin-right: 10px; border: 2px solid #ccc;">
                            </a>
                        </td>

                        <td>
                            <ul>
                                <li>업로드 날짜</li>
                                <p>{{ object.created }}</p>
                                <li>앨범 이름</li>
                                <p>
                                    <a href="{% url 'photo_albums:album_detail' object.album.id %}">{{ object.album.name }}</a>
                                </p>
                                {% if user.is_staff or user == object.uploader or user == object.album.uploader %}
                                    <a class="btn btn-danger" style="float:right;"
                                       onclick="return confirm('정말 지우시겠습니까?');"
                                       href="{% url "photo_albums:delete_photo_to_detail" pk=photo.id %}">삭제</a>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
