{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    <title>카페 등록</title>
{% endblock title %}

{% block style %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.1/flexslider.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.1/jquery.flexslider.min.js"></script>
{% endblock %}
{% block content %}
    <div class="container mt-150">

        <div class="jumbotron text-center">
            <h1 class="display-4">카페 등록하기</h1>
            <p class="lead">카페인 데이터베이스에 찾고자 하는 카페가 없는 경우 여기서 등록합니다.</p>
            <hr class="my-4">
            <p>카페를 검색한 후 지도에 나타나는 핀을 클릭하고 등록버튼을 눌러주세요!</p>
            <p>찾는 카페에 대해 추가적으로 알고 계신 정보가 있으면 함께 업데이트해주세요!!</p>
        </div>

        {% include 'cafes/place_search.html' %}

        <form method="post" class="container mb-50" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <input id="btn-create-cafe" type="submit" class="btn-block btn-lg btn-primary"
                   value="카페 등록"/>
            {#TODO: 등록 후 커모열기 버튼을 추가#}
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).on('click', '#btn-search-place', e => {
            e.preventDefault()
            let url = $("#form-search-place").attr("search-url")
            let search_term = $("#input-search-place").val()
            {# 전달받은 search_term으로 #}
            $.ajax({
                url: url,
                type: 'GET',
                context: document.body,
                data: {
                    'search_term': search_term
                },
                success: (data) => {
                    {# naver-map-search div태그의 html을 통째로 교체한다 #}
                    $("#naver-map-search").replaceWith(data)
                    $("#naver-map-search").find("script").each((i) => {
                        {# cafe_search의 자바스크립트를 실행한다 #}
                        eval($(this).text());
                    })
                }

            })
        })
        $('#input-search-place').on('keypress', e => {
            {# 엔터키를 누른 경우 버튼 클릭과 동일한 효과를 준다 #}
            if (e.which === 13) {
                e.preventDefault()
                $("#btn-search-place").click()
            }
        })
        {# 모든 날짜시간선택 위젯은 id를 inline_datetimepicker로 통일한다#}
        $(document).ready(function () {
            {# inline_datetimepicker는 이 템플릿을 소속받는 템플릿에서 사용된다. #}
            $("#inline_datetimepicker").datetimepicker({
                inline: true,
                sideBySide: true,
                format: 'YYYY-MM-DD hh:mm a',
            });
            {# 개점/폐점시간을 컨트롤하는 timepicker를 보여준다. #}
            $("#inline_timepicker_1, #inline_timepicker_2").timepicker({
                'interval': 15,
                'timeFormat': 'hh:mm p',
            })
        });
    </script>
{% endblock %}

{% block custom-javascript %}
{% endblock %}