{% extends 'index.html' %}
<head>
    {% block title %}
        <title>카페 검색</title>
    {% endblock %}
    {% block style %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
    {% endblock %}

</head>
{% block content %}
    <div class="container mt-150">
        <div class="jumbotron text-center">
            <h1 class="display-4">카페 검색하기</h1>
            <hr class="my-4">
            <p class="lead">커모를 열기 위한 카페를 카페인 데이터베이스에서 검색합니다.</p>
            <p class="lead">만일 여기서 카페가 검색되지 않는다면 직접 <a href="{% url 'cafes:cafes-create' %}" style="color:hotpink;text-decoration: underline;">카페를 등록</a>해주세요!</p>
        </div>
        <nav class="navbar navbar-light bg-light">
            <form id="form-search-cafe" class="form-inline" action="{% url 'cafes:cafes-search' %}" method="get"
                  accept-charset="utf-8">
                {% csrf_token %}
                <input id="input-search-cafe" class="form-control mr-sm-2" name="search-term" type="search"
                       aria-label="카페 이름을 적어주세요" placeholder="카페 이름을 적어주세요">
                <button id="btn-search-cafe" class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
            </form>
        </nav>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr class="text-center">
                    <th>카페 이름</th>
                    <th>카페 주소</th>
                    <th>설명</th>
                    <th>전화번호</th>
                </tr>
                </thead>
                <tbody>
                {% for cafe in cafe_list %}
                    <tr class="clickable-row active"
                        create-url={% url 'meetings:coffee-meeting-create' cafe.id %} detail-url={% url 'cafes:cafes-detail' cafe.id %}>
                        <td>{{ cafe.name }}</td>
                        <td>{{ cafe.address }}</td>
                        <td>{{ cafe.description }}</td>
                        <td>{{ cafe.phone }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="btn-group-xs text-center">
            <button id="btn-cafe-selected" class="btn btn-primary btn-lg" disabled>&nbsp;카페를 클릭해주세요&nbsp;</button>
            <button id="btn-cafe-detail" class="btn btn-secondary btn-lg" disabled>카페 정보</button>
        </div>

    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        let createURL = null
        let detailURL = null
        $(document).ready(function ($) {
            $(".clickable-row").click(function () {
                createURL = $(this).attr("create-url")
                detailURL = $(this).attr("detail-url")
                $("#btn-cafe-selected").prop("disabled", false)
                $("#btn-cafe-detail").prop("disabled", false)
                $("#btn-cafe-selected").text("여기서 커모 열기!")
            });
        });
        $('#btn-cafe-detail').on('click', e => {
            window.location = detailURL
        })
        $('#btn-cafe-selected').on('click', e => {
            window.location = createURL
        })

    </script>
{% endblock %}

{% block custom-javascript %}
{% endblock %}
</html>





