<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<form id="form-search-cafe" action="{% url 'cafe:cafe-search' %}" method="get" accept-charset="utf-8">
    {% csrf_token %}
    <input id="input-search-cafe" class="searchfield" name="search-term" type="text" placeholder="카페 이름이나 주소를 적어주세요.">
    <button id="btn-search-cafe" class="btn btn-default" type="submit">
        검색
    </button>
</form>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>카페 이름</th>
            <th>카페 주소</th>
            <th>설명</th>
            <th>전화번호</th>
        </tr>
        </thead>
        <tbody>
        {% for cafe in cafe_list %}
            <tr class="clickable-row active" create-url={% url 'meetings:coffee-meeting-create' cafe.id %}>
                <td>{{ cafe.name }}</td>
                <td>{{ cafe.address }}</td>
                <td>{{ cafe.description }}</td>
                <td>{{ cafe.phone }}</td>
            </tr>
        {% empty %}
            <div class="alert alert-warning">
                <strong>검색 결과가 없습니다!</strong>
            </div>
        {% endfor %}
        </tbody>
    </table>
</div>
<button id="btn-cafe-selected" class="btn btn-lg btn-primary" disabled>카페를 선택해주세요</button>

<script type="text/javascript">
    let url = null
    $(document).ready(function ($) {
        $(".clickable-row").click(function () {

            url = $(this).attr("create-url")
            $("#btn-cafe-selected").prop("disabled", false)
            $("#btn-cafe-selected").text("여기서 커모 열기!")
        });
    });
    $(document).on('click', '#btn-cafe-selected', e => {
        window.location = url

    })

</script>
</body>
</html>