{% load static %}
{% load crispy_forms_tags %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1> 카페 등록 </h1>
<h3> 카페 이름/주소를 검색한 후 지도에 나타나는 핀을 클릭해주세요. </h3>
<h3> 정보가 잘못된 경우 고쳐주세요 </h3>
<br>
{% include 'cafe/place_search.html' %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | crispy }}
    <input id="btn-create-cafe" type="submit" class="btn btn-default center-block"
           value="카페 등록"/>
    {#TODO: 등록 후 커모열기 버튼을 추가#}
</form>
</body>
<script>
    $(document).on('click', '#btn-search-place', e => {
        e.preventDefault()
        let url = $("#form-search-place").attr("search-url")
        let search_term = $("#input-search-place").val()
        {# 전달받은 search_term으로 #}
        $.ajax({
            url: url,
            type: 'GET',
            context: document.body,
            data: {
                'search_term': search_term
            },
            success: (data) => {
                {# naver-map-search div태그의 html을 통째로 교체한다 #}
                $("#naver-map-search").replaceWith(data)
                $("#naver-map-search").find("script").each((i) => {
                    {# cafe_search의 자바스크립트를 실행한다 #}
                    eval($(this).text());
                })
            }

        })
    })
    $(document).on('keypress', '#input-search-place', e => {
        {# 엔터키를 누른 경우 버튼 클릭과 동일한 효과를 준다 #}
        if (e.which === 13) {
            e.preventDefault()
            $("#btn-search-place").click()
        }
    })
</script>

</html>
