{% load static %}

<div id="naver-map-search">
{#FIXME: 현재 엔터키로 검색시 검색이 안되는 버그가 존재. #}
    {# Search Bar #}
    <form id="form-search-place" search-url="{% url 'cafe:search-place' %}" method="get">
        {% csrf_token %}
        <input id="input-search-place"  type="text" class="query-search"
               placeholder="Search...">
        <button id="btn-search-place"  type="button" class="btn btn-primary">검색</button>
    </form>

    {# Naver Map #}
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=_y2F3mssJyRxB52SCJaN&submodules=geocoder"></script>
    <div id="map" style="width:100%;height:400px;"></div>
    <div id="selected-marker"></div>
    <hr>

    {# JavaScript #}
    <script type="text/javascript">
        {# https://codewithbenefit.com/pass-variables-from-flask-python-server-to-javascript-files-e3366b947f7c#}
        window.appConfig = {
            places: {% if places %}{{ places | safe }}{% else %} '' {% endif %}
        }
    </script>
    <script id="map-search" type="text/javascript" src="{% static 'cafe/js/map_search.js' %}"></script>

</div>