{% load static %}
{# TODO: core 앱으로 들어가는 것이 나을 듯#}
{# FIXME: 검색결과가 1개일때 에러남#}
<div id="naver-map-search">
    {# Search Bar #}
    <form id="form-search-place" class="form-inline md-form mr-auto mb-4" search-url="{% url 'cafe:search-place' %}"
          method="get">
        {% csrf_token %}
        <div class="active-purple-3 active-purple-4">
            <input id="input-search-place" type="text" class="form-control mr-sm-2"
                   placeholder="카페 검색">
        </div>
        <button id="btn-search-place" type="button" class="btn btn-outline-warning btn-rounded btn-sm my-0">검색</button>
    </form>

    {# Naver Map #}
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=_y2F3mssJyRxB52SCJaN&submodules=geocoder"></script>
    <div id="map" style="width:100%;height:400px;"></div>
    <div id="selected-marker"></div>
    <hr>

    {# JavaScript #}
    <script type="text/javascript">
        {# https://codewithbenefit.com/pass-variables-from-flask-python-server-to-javascript-files-e3366b947f7c#}
        window.appConfig = {
            places: {% if places %}{{ places | safe }}{% else %} '' {% endif %}
        }
    </script>
    <script id="map-search" type="text/javascript" src="{% static 'cafe/js/map_search.js' %}"></script>

</div>