{% extends 'album_base.html' %}

{% block content %}
    <form method="post" action="{% url 'photo_album:clear_database' pk=album_id %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit" class="btn btn-danger pull-right">
            <span class="glyphicon glyphicon-trash"></span> Clear All Photos
        </button>
    </form>
    <h1 class="page-header">
        Photos
        <small>/ {% block title %}{% endblock %}</small>
    </h1>
    <div class="row">
        <!--div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Examples</h3>
        </div>
        <div class="list-group">
          <a href="{% url 'photo_album:drag_and_drop_upload' album_id=album_id %}" class="list-group-item
                {% if request.path == '/photo_album/drag-and-drop-upload/' %} active{% endif %}">
            Drag and Drop Upload
          </a>
        </div>
      </div>
    </div-->
        <div class="col-md-12">
            {% block photos_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
